/* 
    Document   : Estilo1
    Created on : 02/02/2010, 10:38:58 AM
    Author     : Armando
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body{
   
    background-position:  top right;
    background-repeat:  no-repeat;
}
/*clase que afecta al body */
.b{
    font-size: 15px;
    font-family:  verdana;
}

#fecha{
    text-align:  right;
    font-size: 13px;
    text-decoration: underline overline;
}

/* identificador del elemento titulo */
#col{

    color: black;
    font-style:  italic;
     font-weight:  bold;
     font-size: 15px;
     font-family: verdana;
     background-color: orange;


}
/*titulo*/
h1{
    text-align: center;
    color: yellow;
    background-color: blue;
}
/*un identificador de parrafos para poner todas mayusculas
se llama asi en html <p id="may"> todo lo que de aqui es mayuscula</p>*/
#may{
    text-transform:  uppercase;
    text-indent: 30px;
    /*espaciado de linea*/
    line-height: 25px;
}
/*links enlacesa normal, visitado, sobre y activo (click)*/
a:link{
    text-decoration:  none;
   color: black
}
/*cuando ya es visitado*/
a:visited{
    text-decoration:  none;
   color: red;
}
a:hover{
    text-decoration:  none;
    color: green;
    text-transform:  uppercase;
    background-color:  gray;
}
a:active{
    text-decoration:  none;
   color: blue;
   letter-spacing: 15px;
}
/*otros links*/
a:link.fo{
    text-decoration:  none;
   color: fuchsia;
}
/*cuando ya es visitado*/
a:visited.fo{
    text-decoration:  none;
   color: blue;
}
a:hover.fo{
    text-decoration:  none;
    color: green;
    background-color:  white;

}
a:active.fo{
    text-decoration:  none;
   color: green;
   letter-spacing: 15px;
}
/*Lista*/
ul.a{
     list-style: square;
     margin: 5px;
     padding: 5px;
}

/*Tablas modifcare,ps table, th, tr
table = tabla th=columnas tr=filas*/

table, th, td{
    border: 1px solid black;
    border-collapse:  collapse;
}
td{
    text-align: center;
    height: 10px;
    padding: 10px;
}
th{
    background-color:  olive;
    color: white;
    border: background;

}
/*identifcador tabla*/
#tabla{
     font-family:  arial;
     border-collapse:  collapse;
     caption-side:  bottom;

}

#tabla td{
   border: 1px solid green;
   padding: 1px 1px 1px 1px;
}

#tabla tr.a td{
    background-color:  gray;
    color: white;
}
/* ahora vamos con los div*/

div.cuadro{
     border: 5px solid green;
     /*tamaño de la div*/
     width: 300px;
     padding: 20px;
     margin: 10px 10px 10px 10px;
     border-style:  groove;
     border-width: medium;
     border-left-style:  inset;
}

img{
    z-index:  -1;
    position:  absolute;
    top: 10px;
    left: 100px;

}

div.cscroll{
    position:  absolute;
    overflow:  scroll;
    color: green;
    font-family:  verdana;
    font-size: 13px;
    width: 250px;
    height: 150px;
    left: 400px;
    top:  auto;
    background-image:  url('basketball.png');

}

