/* 
    Document   : Estilo2
    Created on : 02/02/2010, 11:27:20 PM
    Author     : Armando
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

div.container{
    width: 100%;
    border: 1px black dashed;
    line-height: 150%;
}

div.header{
     padding: 10px;
     background-color:  gray;
     color:  white;
      clear: left;
}

div.footer{
     padding: 30px;
     background-color:  gray;
     color: white;
     font-family:  arial;
     font-size: 15px;
     clear: left;
}

div.content{
    border-left: 10px blue solid;
    padding:  10px;
    background-color:  olive;
    color: white;
    margin: 0px 250px 0px 230px;
}

div.left{
    float: left;
    padding: 10px;
    background-color:  aqua;
    color: black;
    margin: 0px;
}