/**/


input.texto{
		-x-system-font:none;
		background-color: #f7fcf7;
		background-position:left center;
		background-repeat:no-repeat;
		color:  #7e7e7e;
		font-family:Arial;
		font-size:14px;
		font-style:normal;
		font-variant:normal;
		font-weight:normal;
		line-height:normal;
		padding:5px 10px 5px 20px;
		
		border: solid 1px;

}

input.texto_1{
		-x-system-font:none;
		background-color: #f7fcf7;
		background-position:left center;
		background-repeat:no-repeat;
		color:  #7e7e7e;
		font-family:Arial;
		font-size:14px;
		font-style:normal;
		font-variant:normal;
		font-weight:normal;
		line-height:normal;
		padding:5px 10px 5px 20px;
		
		border: solid 1px;

}

textarea.text{
    -x-system-font:none;
		background-color: #f7fcf7;
		background-position:left center;
		background-repeat:no-repeat;
		color:  #7e7e7e;
		font-family:Arial;
		font-size:14px;
		font-style:normal;
		font-variant:normal;
		font-weight:normal;
		line-height:normal;
		padding:5px 10px 5px 20px;
		
		border: solid 1px;
}


input.texto:focus, input.texto:hover{
    background-color:#daf5dd;
}
select.años{
                -x-system-font:none;
		background-color: #f7fcf7;
		background-position:left center;
		background-repeat:no-repeat;
		color:  #7e7e7e;
		font-family:Arial;
		font-size:14px;
		font-size-adjust:none;
		font-stretch:normal;
		font-style:normal;
		font-variant:normal;
		font-weight:normal;
		line-height:normal;
		padding:5px 10px 5px 10px;
		width:100px;
		border: solid 1px;
}
select.años:hover, .años:active{
    background-color: #daf5dd;
}
/**/
select.carrera{
                -x-system-font:none;
		background-color: #f7fcf7;
		background-position:left center;
		background-repeat:no-repeat;
		color:  #7e7e7e;
		font-family:Arial;
		font-size:14px;
		font-size-adjust:none;
		font-stretch:normal;
		font-style:normal;
		font-variant:normal;
		font-weight:normal;
		line-height:normal;
		padding:5px 10px 5px 10px;
		width:190px;
		border: solid 1px;
}
select.carrera:hover, .carrera:active{
    background-color: #daf5dd;
}
/*formulario*/
/*contenedor de formularios*/



.fperfil{
   background-color:#CCCCCC;
        color:#666666;
        display:block;
        float:left;
        font-family:Arial,Helvetica,sans-serif;
        font-size:85%;
        font-weight:normal;
        height:42px;
        letter-spacing:0px;
        line-height:1.1;
        margin-right:0px;
        margin-left: 62px;
        margin-top:1px;
        padding-left:10px;
        padding-right: 1px;
        padding-top:32px;
        padding-bottom: 1px;
        width:220px;
}
/*textbox*/
#textbox{
    background-color:#E6E6E6;
    float:right;
    height:30px;
    margin-top:1px;
    margin-right: 50px;
    padding-left:15px;
    padding-bottom: 5px;
    padding-top:10px;
    width:260px;
}

#textbox2{
    background-color:#E6E6E6;
    float:left;
    height:30px;
    margin-top:1px;
    padding-left:15px;
    padding-bottom: 5px;
    padding-top:10px;
    width:260px;
}

/*pic*/
.picture {
    background-color:#E6E6E6;
    float:right;
    height:60px;
    margin-top:1px;
    margin-right: 50px;
    padding-left:15px;
    padding-bottom: 5px;
    padding-top:10px;
    width:260px;
}
/*botones*/
input.entrar{
			-moz-background-clip:border;
			-moz-background-inline-policy:continuous;
			-moz-background-origin:padding;
			-moz-border-radius-bottomleft:11px;
			-moz-border-radius-bottomright:11px;
			-moz-border-radius-topleft:11px;
			-moz-border-radius-topright:11px;
			-moz-box-shadow:0 1px 5px rgba(0, 0, 0, 0.15);
                        background-image: url(../images/icons/accept.png);
                         background-position:6px 8px;
                         background-repeat:  no-repeat;
                         
			border-color:#DEDEDE #BBBBBB #BFBFBF #DEDEDE;
			border-style:solid;
			border-width:1px;
			color:#464646;
			cursor:pointer;
			display:block;
			font-family:"Lucida Grande",Tahoma,Arial,sans-serif;
			font-size:100%;
			line-height:130%;
			margin-left: 0px;
			padding:5px 15px 6px 28px;
			text-decoration:none;

}
input.reset{
                         -moz-background-clip:border;
			-moz-background-inline-policy:continuous;
			-moz-background-origin:padding;
			-moz-border-radius-bottomleft:11px;
			-moz-border-radius-bottomright:11px;
			-moz-border-radius-topleft:11px;
			-moz-border-radius-topright:11px;
			-moz-box-shadow:0 1px 5px rgba(0, 0, 0, 0.15);
                        background-image: url(../images/icons/cancel.png);
                         background-position:6px 8px;
                         background-repeat:  no-repeat;
			border-color:#DEDEDE #BBBBBB #BFBFBF #DEDEDE;
			border-style:solid;
			border-width:1px;
			color:#464646;
			cursor:pointer;
			display:block;
			font-family:"Lucida Grande",Tahoma,Arial,sans-serif;
			font-size:100%;
			line-height:130%;
			margin-left: 0px;
			padding:5px 15px 6px 28px;
			text-decoration:none;
}

input.entrar:hover, input.reset:hover{
    border:1px solid #7CB043;
color:#63A142;
}

#ent{
       margin-top: 5px;
       float: right;
       margin-right: 140px;
}
#lim{
       margin-top: 5px;
       float: left;
       margin-left: 150px;
}

/*mensaje confirmacion*/
.mensaje
{
       
         background-color:#CCCCCC;
        float:left;
        font-family:Arial,Helvetica,sans-serif;
        font-size:85%;
        font-weight:normal;
        height:30px;
        letter-spacing:0px;
        line-height:1.1;
        margin-right:0px;
        margin-left: 65px;
        margin-top:50px;
        width:220px;
        
}



#files{
    margin-top: 15px;
    margin-right: 16px;
    float: right;
}

