body{
	background-color: white;
   margin: 0px;
}
/*consulta de noticia*/
#consulnoti{
        border: dotted 1px;
	min-height: 300px;
        height: auto;
        width:660px;
	background-color: #32cd32;
	margin-left: 0px;
	margin-top: 0px;
      
}

/*ifram grupo */
#iframe_grupo{
    float: left;
    margin-top: 0px;
    margin-right: 100px;
    margin-bottom: 40px;
    height: auto;
}

#resulnoti{
      
	height: 400px;
        width:660px;
	margin-left: 0px;
	margin-top: 0px;
}

#resulnot{

	height: 0px;
        width:660px;
	margin-left: 0px;
	margin-top: 0px;
}


#connoti{
      background-image: url(../images/modifnoti.png);
      padding: 0px;
      margin: 0px;
      height: 40px;
      width: 660px;
}

#elinoti{

      background-image: url(../images/eliminoti.png);
      padding: 0px;
      margin: 0px;
      height: 40px;
      width: 650px;
}


#notis {
        background-color:#CCCCCC;
        color:#666666;
        display:block;
        float:left;
        font-family:Arial,Helvetica,sans-serif;
        font-size:85%;
        font-weight:normal;
        height:20px;
        letter-spacing:0px;
        line-height:1.1;
        margin-right:0px;
        margin-left: 62px;
        margin-top:1px;
        padding-left:10px;
        padding-right: 1px;
        padding-top:15px;
        padding-bottom: 5px;
        width:150px;
}


#fnoticia input.textos, #fnoticia textarea{
  width: 240px;
	margin: 0px 0px 10px 0px;
	padding: 4px;
	font-family: Helvetica, sans-serif;
	font-size: 15px;
}

#fnoticia textarea{
	height: 85px;
}
/*el boton enviar con sus caracteristicas*/

/*creando el boton limpiar */

/*Este fragmento modifica la subclase focus de los input y textarear del formulario*/

#fnoticia textarea:focus, #fnoticia input:focus {
	border: 2px solid #900;
	background-color: #c1f5c2;
}



#carnoti{
       background-image: url(../images/cargarnoti.png);
     padding: 0px;
     margin: 0px;
     height: 40px;
     width: 500px;
}


#noticia label{
   margin-left: 240px;
	font: "MS Sans Serif", Geneva, sans-serif;
	font-size: 15px;
        font-weight: bolder;
}

/*menu*/
ol{
   list-style: none;
   list-style-type: none;
   float: left;
   margin-left: 50px;
   margin-top: 40px;
   width: auto;
   
}
li{
	display: inline;
	   width: 180px;
}


/*enlaces*/

a:link, a:visited { text-decoration: none; border: 0px; }
a:hover { text-decoration: underline; border: 0px; }
img{ border: 0px;}

#crearnoticia{
 float: left;
 padding-right: 60px;
 border: 0px;
}

#elinoticia{
 float: left;
 padding-right: 60px;
}
#modnoticia{
 float: left;
 padding-right: 60px;
}

/*inputs*/
input.login{
		-x-system-font:none;
		background-color: #f7fcf7;
		background-image: url(../images/icons/user.png);
		background-position:left center;
		background-repeat:no-repeat;
		color:  #7e7e7e;
		font-family:Arial;
		font-size:14px;	
		font-style:normal;
		font-variant:normal;
		font-weight:normal;
		line-height:normal;
		padding:5px 10px 5px 26px;
		width:160px;
		border: solid 1px;
   
}

/*mail*/
input.mail{
		-x-system-font:none;
		background-color: #f7fcf7;
		background-image: url(../images/icons/email_go.png);
		background-position: left;
                background-position: 5px;
		background-repeat:no-repeat;
		color:  #7e7e7e;
		font-family:Arial;
		font-size:14px;
		font-style:normal;
		font-variant:normal;
		font-weight:normal;
		line-height:normal;
		padding:5px 10px 5px 25px;
		width:160px;
		border: solid 1px;

}

/*impirmir*/
input.imprimir{
			-moz-background-clip:border;
			-moz-background-inline-policy:continuous;
			-moz-background-origin:padding;
			-moz-border-radius-bottomleft:11px;
			-moz-border-radius-bottomright:11px;
			-moz-border-radius-topleft:11px;
			-moz-border-radius-topright:11px;
			-moz-box-shadow:0 1px 5px rgba(0, 0, 0, 0.15);
                        background-image: url(../images/icons/pdf.png);
                         background-position:6px 8px;
                         background-repeat:  no-repeat;

			border-color:#DEDEDE #BBBBBB #BFBFBF #DEDEDE;
			border-style:solid;
			border-width:1px;
			color:#464646;
			cursor:pointer;
			display:block;
			font-family:"Lucida Grande",Tahoma,Arial,sans-serif;
			font-size:100%;
			line-height:130%;
			margin-left: 0px;
                        margin-top: 10px;
			padding:5px 15px 6px 28px;
			text-decoration:none;

}

 input.imprimir:hover{
    border:1px solid #7CB043;
color:#63A142;
}

input.login:focus, .login:hover, .mail:focus, .mail:hover{
    background-color:#daf5dd;
}
input.clave{
		-x-system-font:none;
		background-color: #f7fcf7;
		background-image: url(../images/icons/can.png);
		background-position:left center;
		background-repeat:no-repeat;
		color:  #7e7e7e;
		font-family:Arial;
		font-size:14px;
		font-style:normal;
		font-variant:normal;
		font-weight:normal;
		line-height:normal;
		padding:5px 10px 5px 26px;
		width:160px;
		border: solid 1px;

}
.clave:focus, .clave:hover{
    background-color: #daf5dd;
}
.selecta{
                -x-system-font:none;
		background-color: #f7fcf7;
		background-image: url(../images/icons/group_gear.png);
		background-position:left center;
		background-repeat:no-repeat;
		color:  #7e7e7e;
		font-family:Arial;
		font-size:14px;
		font-size-adjust:none;
		font-stretch:normal;
		font-style:normal;
		font-variant:normal;
		font-weight:normal;
		line-height:normal;
		padding:5px 10px 5px 20px;
		width:180px;
		border: solid 1px;
}
.selecta:hover{
    background-color: #daf5dd;
}


/*contenedor de formularios*/
fieldset{
	border:1px dashed #CCCCCC;
	margin-bottom:10px;
	margin-top:2px;
        margin-right: 20px;
        margin-left: 30px;
	padding:15px;
}

legend
{

         background:  #bce9bf none repeat scroll 0 0;
	 border:1px solid  #484848;
	 color:  #484848;
	font-family:Arial,Helvetica,sans-serif;
	font-size: 17px;
	font-weight:bold;
	letter-spacing:-1px;
	line-height:1.1;
	padding:6px 6px;
}

input.entrar{
			-moz-background-clip:border;
			-moz-background-inline-policy:continuous;
			-moz-background-origin:padding;
			-moz-border-radius-bottomleft:11px;
			-moz-border-radius-bottomright:11px;
			-moz-border-radius-topleft:11px;
			-moz-border-radius-topright:11px;
			-moz-box-shadow:0 1px 5px rgba(0, 0, 0, 0.15);
                          background-image: url(../images/icons/accept.png);
                         background-position:6px 8px;
                         background-repeat:  no-repeat;
			border-color:#DEDEDE #BBBBBB #BFBFBF #DEDEDE;
			border-style:solid;
			border-width:1px;
			color:#464646;
			cursor:pointer;
			display:block;
			font-family:"Lucida Grande",Tahoma,Arial,sans-serif;
			font-size:100%;
			line-height:130%;
			margin-left: 0px;
			padding:5px 10px 6px 25px;
			text-decoration:none;


}

input.entrar2{
			-moz-background-clip:border;
			-moz-background-inline-policy:continuous;
			-moz-background-origin:padding;
			-moz-border-radius-bottomleft:11px;
			-moz-border-radius-bottomright:11px;
			-moz-border-radius-topleft:11px;
			-moz-border-radius-topright:11px;
			-moz-box-shadow:0 1px 5px rgba(0, 0, 0, 0.15);
                          background-image: url(../images/icons/add.png);
                         background-position:6px 8px;
                         background-repeat:  no-repeat;
			border-color:#DEDEDE #BBBBBB #BFBFBF #DEDEDE;
			border-style:solid;
			border-width:1px;
			color:#464646;
			cursor:pointer;
			display:block;
			font-family:"Lucida Grande",Tahoma,Arial,sans-serif;
			font-size:100%;
			line-height:130%;
			margin-left: 0px;
			padding:5px 10px 6px 25px;
			text-decoration:none;


}

input.reset{
                         -moz-background-clip:border;
			-moz-background-inline-policy:continuous;
			-moz-background-origin:padding;
			-moz-border-radius-bottomleft:11px;
			-moz-border-radius-bottomright:11px;
			-moz-border-radius-topleft:11px;
			-moz-border-radius-topright:11px;
			-moz-box-shadow:0 1px 5px rgba(0, 0, 0, 0.15);
                          background-image: url(../images/icons/cancel.png);
                         background-position:6px 8px;
                         background-repeat:  no-repeat;
			border-color:#DEDEDE #BBBBBB #BFBFBF #DEDEDE;
			border-style:solid;
			border-width:1px;
			color:#464646;
			cursor:pointer;
			display:block;
			font-family:"Lucida Grande",Tahoma,Arial,sans-serif;
			font-size:100%;
			line-height:130%;
			margin-left: 0px;
			padding:5px 10px 6px 25px;
			text-decoration:none;
}


input.entrar:hover, input.reset:hover{
    border:1px solid #7CB043;
color:#63A142;
}

input.entrar2:hover, input.reset:hover{
    border:1px solid #7CB043;
color:#63A142;
}

input.entrar:active, input.reset:active{
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:#94B717 none repeat scroll 0 0;
    border:1px solid #94B717;
    color:#FFFFFF;
    text-shadow:1px 1px 1px #607710;
}

#ent{
       margin-top: 5px;
    float: right;
    margin-right: 70px;
}
#lim{
       margin-top: 5px;
    float: left;
    margin-left: 55px;
}
/*registro - buscar - ayuda - acerca de*/
#reg{
    margin-top: 15px;
    float: left;
    margin-left: 250px;
}
#ayu{
    margin-top: 15px;
    float: left;
    margin-left:  70px;
}

#buscar{
     margin-top: 15px;
     float: left;
     margin-left: 70px;
}

#acer{
    margin-top: 15px;
    float: left;
    margin-left: 80px;
}
#olv{
    margin-top: 0px;
    float: left;
    margin-left:80px;
}
#border{
     margin: 10px;
     border: dotted 1px;
     float: left;
     width: 280px;
     margin-left: 10px;
}
/*entrada de texto para el form modifixcar noticia*/
#fnoticia_mod input.textos, #fnoticia_mod textarea{
  width: 240px;
	margin: 0px 0px 10px 0px;
	padding: 4px;
	font-family: Helvetica, sans-serif;
	font-size: 15px;
}

#form_listado{
    position: absolute;
    width:740px;
    height: 390px;
    top: 170px;
    margin-bottom: 10px;
    margin-left: 80px;
}

#form_listado2{
    width:885px;
    height: 390px;
    margin-top: -10px;
    margin-bottom: 10px;
    margin-left: -10px;
}



#form_listado_modificar{

    width:650px;
    height: 380px;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: 120px;
}

#form_planeva_modificar{
  
    width:650px;
    height: 380px;
    margin-top:  40px;
    margin-bottom: 10px;
    margin-left: 50px;
}


#form_listado_mate{
    width:430px;
    height: 170px;
    margin-bottom:0px;
    margin-left: 240px;
    margin-top: 20px;

}

/*plan evaluacion*/
#form_planevaluacion{
      position: absolute;
    width:430px;
    height: 300px;
    top: 20px;
    margin-bottom: 10px;
    margin-left: 240px;

}

/*form buscar grupo para ver foro*/
#form_listado_foro{
     
    width:430px;
    height: 170px;
   margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 340px;

}

/*resultado de la busqueda*/
#buscar2{
     margin-top:-120px;
     width: 600px;
     margin-left:130px;
}

/*resultado de la busqueda*/
#buscar3{

    width:600px;
    height: 390px;
    margin-top: -10px;
    margin-bottom: 10px;
    margin-left: 120px;
    
}


fieldset.buscar2{
	border:1px dashed #CCCCCC;
	margin-bottom:15px;
	margin-top:2px;
        margin-right: 20px;
        margin-left: 70px;
	padding:15px;
}

#fnoticia_mod textarea{
	height: 85px;
}
/*el boton enviar con sus caracteristicas*/

/*creando el boton limpiar */

/*Este fragmento modifica la subclase focus de los input y textarear del formulario*/

#fnoticia_mod textarea:focus, #fnoticia_mod input:focus {
	border: 2px solid #900;
	background-color: #c1f5c2;
}
/*talba 1*/
#tabla1{
    margin-top: 0px;

}

#ent_1{
    float: left;
    margin-top: 10px;
    margin-left: 270px;
}

#ent_2{
    float: left;
    margin-top:50px;
    margin-left: 295px;
}
#ent_1_plan{
     float: left;
    margin-top: 10px;
    margin-left: 340px;
}
#ent_2_plan{
     float: left;
    margin-top:50px;
    margin-left: 390px;
}



/*botones new*/
input.enviar{
			-moz-background-clip:border;
			-moz-background-inline-policy:continuous;
			-moz-background-origin:padding;
			-moz-border-radius-bottomleft:11px;
			-moz-border-radius-bottomright:11px;
			-moz-border-radius-topleft:11px;
			-moz-border-radius-topright:11px;
			-moz-box-shadow:0 1px 5px rgba(0, 0, 0, 0.15);
                        background-image: url(../images/icons/accept.png);
                         background-position:6px 8px;
                         background-repeat:  no-repeat;

			border-color:#DEDEDE #BBBBBB #BFBFBF #DEDEDE;
			border-style:solid;
			border-width:1px;
			color:#464646;
			cursor:pointer;
			display:block;
			font-family:"Lucida Grande",Tahoma,Arial,sans-serif;
			font-size:100%;
			line-height:130%;
                        margin-top: 10px;
			margin-left: 0px;
			padding:5px 15px 6px 28px;
			text-decoration:none;

}
input.reset{
                         -moz-background-clip:border;
			-moz-background-inline-policy:continuous;
			-moz-background-origin:padding;
			-moz-border-radius-bottomleft:11px;
			-moz-border-radius-bottomright:11px;
			-moz-border-radius-topleft:11px;
			-moz-border-radius-topright:11px;
			-moz-box-shadow:0 1px 5px rgba(0, 0, 0, 0.15);
                        background-image: url(../images/icons/cancel.png);
                         background-position:6px 8px;
                         background-repeat:  no-repeat;
			border-color:#DEDEDE #BBBBBB #BFBFBF #DEDEDE;
			border-style:solid;
			border-width:1px;
			color:#464646;
			cursor:pointer;
			display:block;
			font-family:"Lucida Grande",Tahoma,Arial,sans-serif;
			font-size:100%;
			line-height:130%;
			margin-left: 0px;
			padding:5px 15px 6px 28px;
			text-decoration:none;
}

input.enviar:hover, input.reset:hover, input.todos:hover{
    border:1px solid #7CB043;
color:#63A142;
}

/*slecta*/
select.mate{
                -x-system-font:none;
		background-color: #f7fcf7;
		background-position:left center;
		background-repeat:no-repeat;
		color:  #7e7e7e;
		font-family:Arial;
		font-size:14px;
		font-size-adjust:none;
		font-stretch:normal;
		font-style:normal;
		font-variant:normal;
		font-weight:normal;
		line-height:normal;
		padding:5px 10px 5px 10px;
		width:190px;
		border: solid 1px;
}
select.mate:hover, .mate:active{
    background-color: #daf5dd;
}