/* 
    Document   : principal
    Created on : 05/03/2010, 03:56:54 PM
    Author     : Armando
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
#cab1{
    margin:0;
    padding: 0;
    background-color:  #006600;
    width: 100%;
    height: 100px;
}

#cab2{
    margin:0;
    padding:0;
    height: 100px;
    width:900px;
    background-color:  #006600;
}

#menu {

    margin: 0px auto;
    top: 0px;
    height: 30px;
    width:100%;
    background-color:  #33CC33;
}

a:link, a:visited { text-decoration: none; border: 0px; }
a:hover { text-decoration: underline; border: 0px; }
img{ border: 0px;}

#cuerpo {
    margin: 0px;

}

body {
	margin : 0;
	background-color: white;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	border : 0px;
}


#sesion{
      background-color:  #006600;
      border: 1px dotted;
      position: absolute;
      width: 300px;
      height: 60px;
      left: 700px;
      top: 20px;
}

#logo{
    width: 200px;
    height: 60px;
    position: absolute;
    top: 20px;
    left: 200px;
    border: 1px dotted;
}

#formulario {
    background-color: 	#0B3B0B;
    position: absolute;
    width: 400px;
    height: 300px;
    top: 150px;
    left: 200px;
}
#info{
    background-color: gray;
    left: 600px;
    width: 400px;
    height: 300px;
    top: 150px;
    position: absolute;
}


form {
        font:13px Georgia, "Times New Roman", Times, serif; 
	border: 1px dotted;
	margin:20px; 
	padding:10px 20px; 
	width:500px;
}

form ol{
    list-style:  none;
    margin: 0px;
    padding: 0px;
}
form li{
    padding:1px;
    background:	#4AA02C;
    margin-bottom:1px;
    
}
form li#enviar {
        background:none;
        margin-top:8px;
       
      }

p{
      font:13px Georgia, "Times New Roman", Times, serif;
      color: white;
}
form input{
                padding:1px;
                font:13px Georgia, "Times New Roman", Times, serif;
                border:1px solid 	#41A317;
                width:180px;
               
              }


form input#dateArrival {
                padding:1px;
                font:13px Georgia, "Times New Roman", Times, serif;
                border:1px solid 	#41A317;
                width:90px;
              }


form input:focus {
                    border:1px solid #4CC417;
                    background:	#C3FDB8;
                    }
form textarea:focus {
                    border:1px solid #4CC417;
                    background:	#C3FDB8;
                    }
form button {
         font:13px Georgia, "Times New Roman", Times, serif;
        color:white;
        background:	#52D017;
        border:1px;
        border-color: black;
        width:100px;
        height:25px;
        border-style: solid;
       }
form button:hover{
         font:13px Georgia, "Times New Roman", Times, serif;
        color:white;
        background: 	#41A317;
        border:1px;
        border-color: black;
        width:100px;
        height:25px;
}


#nueva{
    list-style-type: none;
}

form button#boton1 {
        font:13px Georgia, "Times New Roman", Times, serif;
        color:white;
        margin-left: 140px;
        border-style: solid;
       }
form button#boton2 {
        font:13px Georgia, "Times New Roman", Times, serif;
        color:white;
        margin-right: 60px;
        border-style: solid;
        
       }



.cont{
    background-color: 		#C0C0C0;
    position: absolute;
    width: 900px;
    height: 400px;
    top: 130px;
    left: 200px;
}
#fec
{
         color: red;
         font:16px Georgia, "Times New Roman", Times, serif;
         margin-left:0px;
         margin-right: 10px;
         position: absolute;


}

.fnoticia {
        margin: 20px;
        border: 2px dotted;
        background-color:  blue;
        padding: 10px;

}


