
.ads_footer_hidden {
display:none;
}
hr {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#D9D9D9 none repeat scroll 0 0;
border-width:0;
color:#D9D9D9;
height:1px;
}
.UIBeeper_Left {
left:15px;
}
.UIBeeper {
display:none;
}
.UIBeeper .UIBeeper_Full {
-moz-border-radius-bottomleft:3px;
-moz-border-radius-bottomright:3px;
-moz-border-radius-topleft:3px;
-moz-border-radius-topright:3px;
background-color:#E1E6EE;
border:1px solid #99A8C7;
padding:3px;
}
.UIBeeper .UIBeeper_Full:hover {
background-color:#CAD1DE;
}
img.UIBeeper_Top, img.UIBeeper_Top_Selected, img.UIBeeper_Bottom, img.UIBeeper_Bottom_Selected {
display:none !important;
}
.UIBeeper .UIBeep {
border-left:0 none !important;
border-right:0 none !important;
}
body #presence.fbx_bar {
width:auto;
}
.fbx_bar #presence_ui {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent none repeat scroll 0 0;
}
#presence.fbx_bar #buddy_list_tab {
width:188px;
}
#presence.fbx_bar #buddy_list {
right:-1px;
}
#presence.fbx_bar #presence_ui .presence_menu_opts_wrapper {
bottom:24px;
z-index:14;
}
#presence.fbx_bar #presence_ui #buddy_list {
bottom:28px;
z-index:15;
}
#presence.fbx_bar .chat_window_wrapper {
bottom:23px;
font-weight:normal;
}
#presence.fbx_bar .chat_window .chat_input_div {
}
#presence.fbx_bar #buddy_list .presence_menu_opts {
border-bottom:0 none;
}
#presence.fbx_bar .presence_section, #presence.fbx_bar #chat .tab_handle, #presence.fbx_bar #presence_gk_tab, #presence.fbx_bar #presence_translations_tab {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(/rsrc.php/z1V2B/hash/apfsevhg.png) repeat-x scroll 0 0;
border-color:#999999 #999999 -moz-use-text-color;
border-style:solid solid none;
border-width:1px 0 0 1px;
font-weight:bold;
margin-top:0;
}
#presence.fbx_bar #presence_bar #presence_gk_tab {
}
#presence.fbx_bar #presence_bar #presence_translations_tab {
left:1px;
}
#presence.fbx_bar #presence_ui #presence_bar #buddy_list_tab.focused {
height:25px;
}
#presence.fbx_bar #presence_ui #presence_bar #presence_beta_prefs_tab.focused {
margin-top:0;
right:1px;
}
#presence.fbx_bar #presence_ui #presence_bar #translations_nub {
left:-1px;
}
#presence.fbx_bar #presence_ui #presence_bar #translations_nub .focused {
left:-1px;
}
#presence.fbx_bar #presence_ui #presence_bar #translations_nub .focused i.img {
margin-top:5px;
}
#presence.fbx_bar #presence_ui #presence_bar .focused {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FFFFFF none repeat scroll 0 0;
border-color:-moz-use-text-color #303030 #303030;
border-style:none solid solid;
border-width:0 1px 1px;
height:24px;
margin-right:-1px;
padding-bottom:0;
padding-top:0;
position:relative;
z-index:15;
}
#presence.fbx_bar #presence_ui #presence_bar .highlight {
background-color:#5872A7;
background-position:0 -48px;
border-color:#283B8A;
}
#presence.fbx_bar #presence_ui #presence_bar .disabled {
background-color:#D8D8D8;
background-image:none;
border-color:#999999;
color:#666666;
}
#presence.fbx_bar #presence_ui #presence_bar .focused .tab_name {
padding-top:2px;
}
#presence.fbx_bar #presence_bar .presence_bar_button {
padding-left:6px;
padding-right:6px;
}
#presence.fbx_bar #presence_bar .presence_menu_opts_wrapper_left {
left:auto;
right:0;
}
#presence.fbx_bar #presence_bar #presence_gk {
right:-1px;
}
#presence.fbx_bar #translations_nub .presence_menu_opts {
width:231px;
}
#presence.fbx_bar #presence_gk .presence_menu_opts {
width:300px;
}
#presence.fbx_bar #chat {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent none repeat scroll 0 0;
}
.fbx_bar #presence_bar .button_container, #presence.fbx_bar #presence_popout_section {
float:right;
width:28px;
}
#presence.fbx_bar #presence_ui .focused {
margin-bottom:0;
}
.fbx_bar #presence_bar #translations_nub .presence_bar_button {
margin-right:2px;
padding:5px;
}
.fbx_bar #presence_bar .pnub {
width:60px;
}
.fbx_bar #presence_bar .pnub .presence_bar_button {
width:48px;
}
#presence.fbx_bar #presence_notifications_tab {
border-left-color:#B5B5B5;
}
.fbx_bar #chat_tab_bar .tab_handle {
border-left:0 none;
border-right-color:#B5B5B5;
}
#presence.fbx_bar #presence_ui .focused {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FFFFFF none repeat scroll 0 0;
padding-top:0;
}
#presence.fbx_bar .presence_section:hover, #presence.fbx_bar #presence_translations_tab:hover, #presence.fbx_bar #presence_gk_tab:hover, #presence.fbx_bar #chat .tab_handle:hover {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FFFFFF none repeat scroll 0 0;
border-top:1px solid #B5B5B5;
text-decoration:none;
}
#presence.fbx_bar #presence_popout_section {
height:24px;
}
#presence.fbx_bar #chat_next_tab {
border-right:1px solid #B5B5B5;
}
#presence.fbx_bar #chat_previous_tab {
border-right:1px solid #B5B5B5;
}
#jewelCase {
bottom:0;
left:97px;
position:absolute;
width:84px;
}
#jewelCase .jewel {
border-color:#3B5998 #3B5998 -moz-use-text-color;
border-style:solid solid none;
border-width:1px 1px 0;
float:left;
height:31px;
margin:13px -1px 0 0;
position:relative;
width:24px;
}
#jewelCase .openToggler {
border-color:#333333;
height:30px;
margin-top:14px;
z-index:2;
}
.jewelCount {
-moz-border-radius-bottomleft:2px;
-moz-border-radius-bottomright:2px;
-moz-border-radius-topleft:2px;
-moz-border-radius-topright:2px;
background-color:#00376A;
color:#FFFFFF;
display:none;
font-size:9px;
font-weight:bold;
padding-bottom:1px;
position:absolute;
right:-2px;
top:-2px;
z-index:3;
}
.ff2 .jewelCount {
-moz-border-radius-bottomleft:1px;
-moz-border-radius-bottomright:4px;
-moz-border-radius-topleft:2px;
-moz-border-radius-topright:4px;
}
.jewelCount span {
-moz-border-radius-bottomleft:2px;
-moz-border-radius-bottomright:2px;
-moz-border-radius-topleft:2px;
-moz-border-radius-topright:2px;
background-color:#627AAD;
border-color:-moz-use-text-color #5970A5 #5970A5;
border-style:none solid solid;
border-width:0 1px 1px;
display:block;
padding:1px 2px 0 1px;
}
.jewelNew .jewelCount span {
background-color:#F03D25;
border-color:#DD3822;
}
.ff3 .jewelCount span {
padding-right:1px;
}
.ff2 .jewelCount span {
-moz-border-radius-bottomleft:1px;
-moz-border-radius-bottomright:4px;
-moz-border-radius-topleft:2px;
-moz-border-radius-topright:4px;
}
.jewelShowUnread .jewelCount, .jewelNew .jewelCount {
display:block;
}
.jewelToggler {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(/rsrc.php/z8S5R/hash/ez3x5cuc.png) no-repeat scroll 0 0;
display:inline-block;
height:31px;
position:absolute;
text-decoration:none;
width:24px;
}
.jewelToggler:active, .jewelToggler:focus, .jewelToggler:hover {
background-color:#4B67A1;
outline-color:-moz-use-text-color;
outline-style:none;
outline-width:medium;
text-decoration:none;
}
.openToggler .jewelToggler {
background-color:#FFFFFF !important;
z-index:3;
}
#jewelMail {
background-position:-24px -73px;
}
#jewelMail:hover, #jewelMail:focus, #jewelMail:active {
background-position:-51px -73px;
}
.jewelNew #jewelMail {
background-position:-78px -73px;
}
.openToggler #jewelMail {
background-position:-105px -74px !important;
}
#jewelRequest {
background-position:-24px -105px;
}
#jewelRequest:hover, #jewelRequest:focus, #jewelRequest:active {
background-position:-51px -105px;
}
#jewelRequestsContent .jewelRequest .jewelRequestContent {
padding-top:2px;
}
#jewelRequestsContent .uiTextTitle {
font-size:11px;
}
#jewelRequestsContent .requestLabel {
line-height:12px;
}
.jewelNew #jewelRequest {
background-position:-78px -105px;
}
.openToggler #jewelRequest {
background-position:-105px -106px !important;
}
#jewelAlert {
background-position:-24px -137px;
}
#jewelAlert:hover, #jewelAlert:focus, #jewelAlert:active {
background-position:-51px -137px;
}
.jewelNew #jewelAlert {
background-position:-78px -137px;
}
.openToggler #jewelAlert {
background-position:-105px -138px !important;
}
#jewelCase .jewelBox {
background-color:#FFFFFF;
border-color:#333333 #333333 #293E6A;
border-style:solid;
border-width:1px 1px 2px;
display:none;
left:-1px;
overflow:hidden;
position:absolute;
top:29px;
width:300px;
z-index:2;
}
#jewelCase .openToggler .jewelBox {
display:block;
}
#jewelCase li, #jewelCase .empty {
padding:4px 8px;
}
#jewelBoxAlert li {
padding-bottom:5px;
padding-top:5px;
}
.jewelBox ul {
padding:4px 0;
}
#jewelCase .jewelHeader {
border-bottom:1px solid #E0E0E0;
margin:0 2px;
padding:8px 6px 5px;
}
#jewelCase .jewelHeader a {
font-size:11px;
font-weight:normal;
margin-top:1px;
}
#jewelCase .jewelItemNew {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#EFF1F7 none repeat scroll 0 0;
}
#jewelCase .jewelLoading {
display:block;
margin:5px auto;
}
.jewelBox .profileImage {
height:50px;
width:50px;
}
#jewelBoxRequest .async_saving {
position:relative;
}
#jewelBoxRequest .async_saving .loadingIndicator {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(/rsrc.php/zBS5C/hash/7hwy7at6.gif) no-repeat scroll 0 0;
height:11px;
left:50%;
margin:-5px 0 0 -6px;
position:absolute;
top:50%;
width:16px;
}
#jewelBoxRequest .async_saving .uiButton {
visibility:hidden;
}
#jewelBoxMail li {
padding:0;
}
#jewelBoxMail li a {
display:block;
overflow:hidden;
padding:4px 8px;
white-space:nowrap;
}
#jewelBoxMail .content {
display:block;
width:auto;
}
#jewelBoxMail .author {
color:#3B5998;
font-weight:bold;
padding-top:2px;
}
#jewelBoxMail .preview {
overflow:hidden;
white-space:nowrap;
}
#jewelBoxMail .subject {
color:#333333;
}
#jewelBoxMail .time {
color:#9D9D9D;
font-size:9px;
}
#jewelBoxMail li a:hover, #jewelBoxMail li a:active, #jewelBoxMail li a:focus {
background-color:#6D84B4;
border-bottom:1px solid #3B5998;
border-top:1px solid #3B5998;
outline-color:-moz-use-text-color;
outline-style:none;
outline-width:medium;
padding-bottom:3px;
padding-top:3px;
text-decoration:none;
}
#jewelCase .jewelFooter a {
background-color:#F7F7F7;
border-top:1px solid #E0E0E0;
display:block;
font-weight:bold;
padding:8px;
text-align:center;
}
#jewelCase .jewelFooter a:hover, #jewelCase .jewelFooter a:active, #jewelCase .jewelFooter a:focus {
background-color:#6D84B4;
border-top:1px solid #3B5998;
color:#FFFFFF;
outline-color:-moz-use-text-color;
outline-style:none;
outline-width:medium;
text-decoration:none;
}
#jewelCase .jewelFooter .uiTextSubtitle {
color:#3B5998;
}
#jewelCase .jewelFooter .seeMoreCount {
display:none;
padding:2px 0 0;
}
#requestsWrapper .jewelFooter .seeMoreCount, #jewelCase .jewelUnread .jewelFooter .seeMoreCount {
display:block;
}
#jewelCase .jewelFooter a:hover span, #jewelCase .jewelFooter a:active span, #jewelCase .jewelFooter a:focus span, #jewelBoxMail a:hover .uiTextSubtitle, #jewelBoxMail a:active .uiTextSubtitle, #jewelBoxMail a:focus .uiTextSubtitle {
color:#FFFFFF;
}
.fbx {
}
#blueBar {
background-color:#3B5998;
height:41px;
left:0;
position:absolute;
width:100%;
}
#blueBar.shortened {
height:34px;
}
#globalContainer {
margin:0 auto;
}
.fbx #globalContainer {
width:981px;
}
.liquid #globalContainer {
margin:0;
min-width:980px;
padding:0 50px;
width:auto;
}
.liquid #minWidthOuter {
}
.liquid #minWidthInner {
}
#pagefooter {
border-top:0 none;
}
.UIFullPage_Container, .UIStandardFrame_Container {
padding:20px 0 0;
}
.fbx #tab_canvas > div {
padding-top:0;
}
#pageHead {
height:41px;
margin:0 auto;
position:relative;
width:980px;
z-index:15;
}
.fbx #pageHead {
margin:0;
width:auto;
}
#pageLogo a {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#3B5998 url(/rsrc.php/z8S5R/hash/ez3x5cuc.png) no-repeat scroll -21px 0;
display:block;
height:31px;
left:-6px;
position:absolute;
top:10px;
width:103px;
}
#pageLogo a:hover, #pageLogo a:focus, #pageLogo a:active {
background-color:#4B67A1;
background-position:-21px -31px;
outline-color:-moz-use-text-color;
outline-style:none;
outline-width:medium;
}
#pageLogo span {
display:none;
}
#headNavOut {
background-color:#627AAD;
border-color:#1D4088 #1D4088 -moz-use-text-color;
border-style:solid solid none;
border-width:1px 1px 0;
font-size:11px;
height:30px;
margin-left:180px;
padding-left:10px;
padding-right:6px;
position:relative;
top:10px;
}
#pageNav, #auxNav {
left:0;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0;
padding:0 0 0 9px;
position:absolute;
top:0;
}
.oneNav #pageNav {
left:auto;
padding:0;
right:0;
}
.oneNav #auxNav {
display:none;
}
#auxNav {
left:auto;
right:248px;
}
#pageNav li, #auxNav li {
float:left;
}
#pageNav a, #auxNav a {
color:#FFFFFF;
display:inline-block;
font-weight:bold;
height:22px;
padding:8px 10px 0;
text-decoration:none;
}
#auxNav a {
color:#C1CFE1;
font-weight:normal;
}
#auxNav a:hover, #auxNav a:focus, #auxNav a:active, #pageNav a:hover, #pageNav a:focus, #pageNav a:active {
background-color:#6D86B7;
outline-color:-moz-use-text-color;
outline-style:none;
outline-width:medium;
}
#navAccount {
display:none;
}
.oneNav #navAccount {
display:list-item;
position:relative;
}
#navAccount.openToggler {
background-color:#FFFFFF;
border-color:#333333 #333333 -moz-use-text-color;
border-style:solid solid none;
border-width:1px 1px 0;
margin-left:-2px;
position:relative;
right:-1px;
top:-1px;
}
#navAccount #navAccountLink {
padding-right:16px;
}
.openToggler #navAccountLink {
background-color:#FFFFFF;
color:#333333;
height:22px;
position:relative;
z-index:3;
}
.openToggler #navAccountLink:hover, .openToggler #navAccountLink:focus, .openToggler #navAccountLink:active {
background-color:#FFFFFF;
}
#navAccountLink img {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(/rsrc.php/z8S5R/hash/ez3x5cuc.png) no-repeat scroll -137px 0;
height:4px;
left:5px;
position:relative;
top:-2px;
width:7px;
}
.openToggler #navAccountLink .dropMenuDivide {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#E0E0E0 none repeat scroll 0 0;
}
.openToggler #navAccountLink img {
background-position:-137px -4px;
}
#navAccount ul {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FFFFFF none repeat scroll 0 0;
border-color:#333333 #333333 #2D4486;
border-style:solid;
border-width:1px 1px 2px;
display:none;
margin-right:-1px;
margin-top:-1px;
min-width:200px;
padding:10px 0 5px;
position:absolute;
right:0;
top:100%;
z-index:1;
}
#navAccount.openToggler ul {
display:block;
}
#navAccount ul a {
color:#3A579A;
display:block;
font-weight:normal;
height:auto;
padding:4px 10px 5px;
white-space:nowrap;
}
#navAccount ul a:hover, #navAccount ul a:focus, #navAccount ul a:active {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#6D84B4 none repeat scroll 0 0;
border-bottom:1px solid #3B5998;
border-top:1px solid #3B5998;
color:#FFFFFF;
padding:3px 10px 4px;
}
#navAccount li {
display:block;
float:none;
}
#navAccountInfo {
border-bottom:1px solid #E0E0E0;
margin:5px 4px;
min-height:55px;
padding:0 6px 0 64px;
position:relative;
}
ul #navAccountInfo a:hover, ul #navAccountInfo a:focus, ul #navAccountInfo a:active {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent none repeat scroll 0 0;
border:medium none;
color:#3B5998;
padding:4px 10px 5px;
text-decoration:underline;
}
#navAccountInfo #navAccountPic {
left:-5px;
margin:0;
position:absolute;
top:-9px;
}
#navAccount #navAccountName {
font-size:13px;
font-weight:bold;
margin:0;
padding:0 !important;
}
#navSearch {
background-color:#FFFFFF;
border:1px solid #3B5998;
display:block;
position:absolute;
right:4px;
top:4px;
width:243px;
}
.oneNav #navSearch {
left:4px;
right:auto;
width:298px;
}
#navSearch button {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FFFFFF url(/rsrc.php/z8S5R/hash/ez3x5cuc.png) no-repeat scroll -1px 0;
border:0 none;
cursor:pointer;
display:block;
height:20px;
padding:0;
position:absolute;
right:0;
top:0;
width:20px;
z-index:2;
}
#navSearch button span {
display:none;
}
#navSearch .inputtext {
border-color:-moz-use-text-color #E5E5E5 -moz-use-text-color -moz-use-text-color;
border-style:none solid none none;
border-width:0 1px 0 0;
display:inline-block;
height:16px;
outline-color:-moz-use-text-color;
outline-style:none;
outline-width:medium;
padding:3px 4px 1px;
width:214px;
}
.oneNav #navSearch .inputtext {
width:269px;
}
#navSearch .inputsubmit {
position:absolute;
top:-1000px;
}
#navSearch .uiTypeahead {
border:0 none;
width:290px;
}
#navSearch .uiTypeahead .results {
margin-left:-1px;
}
#mainContainer {
display:block;
margin-left:-1px;
width:100%;
}
.hasLeftCol #mainContainer {
border-right:1px solid #B3B3B3;
}
#leftCol {
border-right:1px solid #B3B3B3;
display:none;
float:left;
padding:20px 0 0 2px;
width:179px;
}
.hasLeftCol #leftCol {
display:block;
}
#rightCol {
display:none;
float:right;
padding-right:0;
width:234px;
}
.home #rightCol {
padding-top:9px;
}
.hasRightCol #rightCol {
display:block;
}
.hasLeftCol #rightCol {
padding-right:15px;
}
#contentCol {
background-color:#FFFFFF;
padding-top:15px;
}
.hasLeftCol #contentCol {
border-left:1px solid #B3B3B3;
margin-left:181px;
}
#contentArea {
margin-right:-1px;
padding-left:2px;
}
.hasLeftCol #contentArea, .hasRightCol #contentArea {
margin-right:0;
padding-right:15px;
}
.hasLeftCol #contentArea {
padding-left:15px;
}
#contentArea {
overflow:hidden;
}
#bottomContent {
clear:both;
font-size:1px;
height:17px;
}
#pageFooter {
color:#737373;
font-size:11px;
margin:0 auto;
width:980px;
}
.fbx #pageFooter {
margin:auto;
width:auto;
}
.hasLeftCol #pageFooter {
background-color:#FFFFFF;
clear:both;
margin-left:180px;
position:relative;
}
#contentCurve {
background-color:#FFFFFF;
border-bottom:1px solid #B3B3B3;
font-size:1px;
height:3px;
}
.hasLeftCol #contentCurve {
border-color:-moz-use-text-color #B3B3B3 #B3B3B3;
border-style:none solid solid;
border-width:medium 1px 1px;
}
#footerContainer {
border-top:1px solid #EEEEEE;
margin-bottom:30px;
padding:3px 0 10px;
position:relative;
}
#footerContainer .copyright {
display:inline;
}
#footerContainer .brand {
background-repeat:no-repeat;
padding-left:22px;
}
#footerRight {
margin-left:200px;
position:absolute;
right:0;
text-align:right;
top:3px;
}
#pageFooter a {
color:#385495;
margin:0 3px;
text-decoration:none;
white-space:nowrap;
}
#pageFooter a:last-child {
margin-right:0;
}
#pageFooter a:hover {
text-decoration:underline;
}
.profile #rightCol .box .box_header {
font-size:11px;
font-weight:bold;
padding:3px 5px;
}
#rightCol #adcolumn_advertise {
display:none;
}
#rightCol #sidebar_ads {
float:none;
padding:0;
}
#rightCol #facebook .sidebar_ads_test {
padding:0 0 0 17px;
}
#rightCol #sidebar_ads .adcolumn_wrapper {
border-left:medium none;
}
#rightCol #sidebar_ads .admin_upsell, #rightCol .UIEMUASFrame {
width:210px;
}
#rightCol #sidebar_ads .UIEmuASIFrame, #rightCol #sidebar_ads .UIEMUASFrame {
border-bottom:1px solid #E5E5E5;
border-top:medium none;
padding-left:0;
padding-right:80px;
width:auto;
}
#rightCol #sidebar_ads .adcolumn {
border-left:medium none;
}
#rightCol #sidebar_ads #adcolumn_more_ads {
border-top:medium none;
padding-left:0;
}
#rightCol .UITitledBox {
margin-bottom:15px;
}
#rightCol .UITitledBox_Top {
padding-bottom:3px;
}
#rightCol .UITitledBox_Top small {
font-size:11px;
}
#rightCol .friend_grid_col {
margin-left:0;
}
#rightCol .UISuggestionList_ItemContainer {
border:medium none;
margin:0;
}
#rightCol #pymk .friend_grid_col {
width:232px;
}
#settingsDropdown a {
color:#3B5998;
height:15px;
padding:3px 35px 3px 15px;
}
#settingsDropdown a:hover {
color:#FFFFFF;
}
#settingsDropdown {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:white none repeat scroll 0 0;
border:1px solid #2D5289;
display:none;
left:9px;
padding:5px 0;
position:absolute;
top:28px;
width:200px;
z-index:100;
}
#auxNav .hover #settingsDropdown, #auxNav li:hover #settingsDropdown, #settingsDropdown .dropdown_item {
display:block;
}
#auxNav .hover #settingsDropdown a, #auxNav li:hover #settingsDropdown a {
background-color:#FFFFFF;
}
#auxNav .hover a, #auxNav li:hover a, #auxNav li #settingsDropdown a:hover {
background-color:#7187B6;
}
#settingsDropdown li {
float:none;
}
#globalContainer #locale_selector_dialog_onclick {
display:inline;
float:none;
padding:0 0 0 5px;
width:auto;
}
.fbx #globalContainer #content {
min-height:inherit;
}
.fbx .megaphone_story {
}
.uiLinkSubtle {
color:#808080;
}
#bootloader_css_d7qvcoc3yi0oo880_pkg_css {
height:42px;
}