#header{
	 background-color: #006c01;
	 padding: 0px;
	 margin: 0px;
	 height: 100px;
	 width: 100%;
}
#logo{
	top: 3px;
	left:140px;
	width: 272px;
	height: 95px;
	position: absolute;
        background-image: url(../images/logo1.png);

}
#sesion{
	position: absolute;
	top: 3px;
	left: 840px;
	width: 300px;
	height: 95px;
        background-image: url(../images/udo.png);
}
#menu{
   background-color: #00ac01;
   height: 30px;
   width: 100%;
}


body{
	background-color: white;
   margin: 0px;
}

body.ejemplo{
    background-image:  url(../images/fon.png);
   margin: 0px;
}
body.ejemplo2{
    background-image:  url(../images/fondo1.png);
   margin: 0px;
}

#conteditar{
        border: dotted 1px;
	width: 900px;
        margin-left: 180px;
        margin-right: 160px;
        min-height: 880px;
        height: auto;
}
/*cuadro que contiene imagen de editar perfil*/
#cuadroimag{
    margin-left: 62px;
    float: left;
    width: 505px;
   
    
}
/*fonde imagen edit perfil*/
#fondoimag{
    background-color:#CCCCCC;
        color:#666666;
        display:block;
        float:left;
        font-family:Arial,Helvetica,sans-serif;
        font-size:85%;
        font-weight:normal;
        height:110px;
        letter-spacing:0px;
        line-height:1.1;
        margin-right:0px;
        margin-left: 0px;
        padding-left:10px;
        padding-right: 1px;
        padding-top:5px;
        padding-bottom: 1px;
        width:220px;
}
/*file imagen ediat perfil*/
#file{
  background-color:#E6E6E6;
    float:right;
    height:68px;
    margin-right: 0px;
    padding-bottom:3px;
    padding-left:15px;
    padding-top:45px;
    padding-right: 8px;
    width:250px;
}

#imagedit{
    float: left;
    width: 100px;
    height: 100px;
    border: 1px dashed;
    margin-left: 52px;
    margin-bottom: 1px;
    margin-top: 1px;
}
#contenedor{
	border: dotted 1px;
	width: 900px;
        margin-left: 180px;
        margin-right: 160px;
        min-height: 720px;
        height: auto;

}

/*contenedor del grupo mas grande por FORO*/
#contenedor_grupo{
        border: dotted 1px;
	width: 1150px;
        margin-left: 50px;
        margin-right: 160px;
         height: auto;

}
/*contendor de personal adminsitrativo*/
#contenedorpadm{
	border: dotted 1px;
	width: 900px;
        margin-left: 180px;
        margin-right: 160px;
        min-height: 1000px;
        height: auto;

}
#contenedor2{
   	border: dotted 1px;
	width: 1100px;
   margin-left: 70px;
   margin-right: 50px;
   height:530px;
}

/*contenedor grupo*/
#contenedorgrupo{
   	border: dotted 1px;
	width: 900px;
       margin-left: 175px;
       margin-right: 50px;
       min-height: 580px;
       height: auto;
}

#image{
    margin-top: 45px;
    text-align: center;
}

a:link, a:visited { text-decoration: none; border: 0px; }
a:hover { text-decoration: underline; border: 0px; }

img{ border: 0px;
 padding: 0px;
 margin: 0px;
}
/*dsdsd*/

label{
    text-align:  center;
}

p #tit{
    text-align:  center;
}

#notix{

    -webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;

	-khtml-border-radius-bottomright: 10px;
	-khtml-border-radius-bottomleft: 10px;
	-khtml-border-radius-topright: 10px;
	-khtml-border-radius-topleft: 10px;

	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-topleft: 10px;

	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
        
        background-color:  #E7FEE0;
        width: 650px;
        border: 1px dashed;
        margin-top: 5px;
        margin-bottom: 15px;
}
#titulo_notix{
    text-align: center;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-khtml-border-radius-topright: 10px;
	-khtml-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
        background-color: #FEB638;
}
#noti_cont{


}

/*text area de noticia*/
textarea.notices{
    border: none;
background-color: #E7FEE0;
font-family: helvetica,sans-serif;
font-size: 17px;
font-weight: bold;
letter-spacing: 0.2pt;
word-spacing: 4.5pt;
line-height: 2;
}


#fecha_notix{
     background-color: #D8D8D8;
text-align: center;
      -webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;


	-khtml-border-radius-bottomright: 10px;
	-khtml-border-radius-bottomleft: 10px;


	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;


	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
        font-family: "palatino linotype",palatino,serif;
font-size: 16px;
font-weight: bold;
font-style: italic;
letter-spacing: 0.2pt;
word-spacing: 4.8pt;
line-height: 2;

	
}
/*letras de la noticia*/
h1.titulo{
   font-family: helvetica,sans-serif;
color: #130070;
font-size: 27px;
font-weight: bold;
font-style: italic;
letter-spacing: 4.6pt;
word-spacing: 1.4pt;
line-height: 1.3;

}

div.formulario{
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;

	-khtml-border-radius-bottomright: 10px;
	-khtml-border-radius-bottomleft: 10px;
	-khtml-border-radius-topright: 10px;
	-khtml-border-radius-topleft: 10px;

	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-topleft: 10px;

	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	
	border: solid 1px;
	width: 460px;
	height: 280px;
        float: left;
        margin: 70px 0px 20px 20px;
        background-color:  #006c01;
        border-color:  #228b22;
}

/*formulario olvido*/
div.formulario_olvido{
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;

	-khtml-border-radius-bottomright: 10px;
	-khtml-border-radius-bottomleft: 10px;
	-khtml-border-radius-topright: 10px;
	-khtml-border-radius-topleft: 10px;

	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-topleft: 10px;

	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;

	border: solid 1px;
	width: 460px;
	height: 240px;
        float: left;
        margin: 30px 0px 20px 20px;
        background-color:  #006c01;
        border-color:  #228b22;
}

#titu{
    -webkit-border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -khtml-border-radius-topright: 10px;
    -khtml-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-topleft: 10px;

    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color:  green;
    width: 500px;
    height: 50px;
    
}
* {
border:0 none;
margin:0;
outline-color:-moz-use-text-color;
outline-style:none;
outline-width:0;
padding:0;
text-shadow:0 0 0 #000000;
}
* :focus {
outline-color:-moz-use-text-color;
outline-style:none;
outline-width:0;
}

.descripcion{
    -webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;

	-khtml-border-radius-bottomright: 10px;
	-khtml-border-radius-bottomleft: 10px;
	-khtml-border-radius-topright: 10px;
	-khtml-border-radius-topleft: 10px;

	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-topleft: 10px;

	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;

	border: solid 1px;
	width: 570px;
	height: 280px;
        float: right;
        margin: 70px 30px 0px 0px;
        border-color:  #228b22;
      
}

/*division de la imaghen animada del div S3*/
.imagenesaniv{
    float: right;
    margin-top: 0px;
    width: 150px;
    z-index: 0;
   
  
}

p.desctexto{
    font-family: verdana,sans-serif;
font-size: 14px;
text-align: center;
letter-spacing: 1.5pt;
word-spacing: -0pt;
line-height: 1.5;

}

/*titulo de la descripcion*/
h1.titulo1{
    font-family: verdana,sans-serif;
color: #225903;
font-size: 20px;
font-weight: bold;
text-transform: uppercase;
letter-spacing: 2.8pt;
word-spacing: -1.4pt;
line-height: 2.8;

}

/*cuadro de descripcion TEXTO*/
.desc{
    float: left;
    margin-left: 0px;
    width: 365px;
    z-index: 1;
    margin-top: 30px;
    margin-left: 5px;
  
}

#cuadro_reg{
     -webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	-webkit-border-top-left-radius: 15px;

	-khtml-border-radius-bottomright: 15px;
	-khtml-border-radius-bottomleft: 15px;
	-khtml-border-radius-topright: 15px;
	-khtml-border-radius-topleft: 15px;

	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-topleft: 15px;

	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;

        border: dashed 1px;
	width: 1050px;
	height: 50px;
        float: left;
        margin: 50px 30px 0px 20px;
        border-color:  #228b22;

}
#subfooter{
     margin-top: 0px;
	  background-color: #00ac01;
     height: 30px;
     width: 100%;
}
#footer{
      -x-system-font:none;
     height: 100px;
	  width: 100%;
	background-color: #006c01;
}
#perfil{
    float: right;
    height: 28px;
    width: 380px;
    padding-top: 3px;
    margin-right: 130px;
}
/*Busqueda de usuario DIV*/
#busqueda{
    background-color: white;
    width: 800px;
    height: 600px;
}

/*formulario estudiante*/
/*formulario*/
/*contenedor de formularios*/
fieldset{
	border:1px dashed #CCCCCC;
	margin-bottom:10px;
	margin-top:2px;
        margin-right: 20px;
        margin-left: 30px;
	padding:15px;
}

legend
{

         background:  #bce9bf none repeat scroll 0 0;
	 border:1px solid  #484848;
	 color:  #484848;
	font-family:Arial,Helvetica,sans-serif;
	font-size: 17px;
	font-weight:bold;
	letter-spacing:-1px;
	line-height:1.1;
	padding:6px 6px;
}

/*label*/
label {
        background-color:#CCCCCC;
        color:#666666;
        display:block;
        float:left;
        font-family:Arial,Helvetica,sans-serif;
        font-size:85%;
        font-weight:normal;
        height:29px;
        letter-spacing:0px;
        line-height:1.1;
        margin-right:0px;
        margin-left: 62px;
        margin-top:1px;
        padding-left:10px;
        padding-right: 1px;
        padding-top:15px;
        padding-bottom: 1px;
        width:220px;
}
label.noti {
        background-color:#CCCCCC;
        color:#666666;
        display:block;
        float:left;
        font-family:Arial,Helvetica,sans-serif;
        font-size:85%;
        font-weight:normal;
        height:29px;
        letter-spacing:0px;
        line-height:1.1;
        margin-right:0px;
        margin-left: 0px;
        margin-top:1px;
        padding-left:10px;
        padding-right: 1px;
        padding-top:15px;
        padding-bottom: 1px;
        width:220px;
}
/*fondo formulario estudiante*/
#form_reg{
    background-color:  #006c01;
    position: absolute;
    width:700px;
    height: 680px;
    top: 155px;
    margin-bottom: 50px;
    left: 280px;
}
/*link*/
#regresar{
    margin-top: 10px;
    float: left;
    margin-left: 380px;
    color: yellow;
}

#regresar2{
    margin-top: 10px;
    float: left;
    margin-left: 277px;
    color: yellow;
}
/*link regresar*/
.regresar{
    color: yellow;
}
/*login*/
#login_label {
      background-color:#CCCCCC;
    color:#666666;
    display:block;
    float:left;
    font-family:Arial,Helvetica,sans-serif;
    font-size:115%;
    font-weight:normal;
    height:32px;
    letter-spacing:0px;
    line-height:1.1;
    margin-right:0px;
    margin-left: 30px;
    margin-top:3px;
    padding-left:3px;
    padding-right: 5px;
    padding-top:10px;
    width:83px;
}
/*login textbos*/
#textbox2{
    background-color:#E6E6E6;
    float:right;
    height:35px;
    margin-top:3px;
    margin-right: 20px;
    padding-bottom:3px;
    padding-left:15px;
    padding-top:5px;
    width:220px;
}

/*****************PERFIL*********************/
/*Administrador info*/
#infoperfil{
    -webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	-webkit-border-top-left-radius: 15px;

	-khtml-border-radius-bottomright: 15px;
	-khtml-border-radius-bottomleft: 15px;
	-khtml-border-radius-topright: 15px;
	-khtml-border-radius-topleft: 15px;

	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-topleft: 15px;

	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;

        border: dashed 0px;
	width: 800px;
	height: 200px;
        float: left;
        margin: 5px 0px 0px 130px;
        border-color:  #228b22;
}
/**************************************************/


/*Administrador info*/
#info{
    -webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	-webkit-border-top-left-radius: 15px;

	-khtml-border-radius-bottomright: 15px;
	-khtml-border-radius-bottomleft: 15px;
	-khtml-border-radius-topright: 15px;
	-khtml-border-radius-topleft: 15px;

	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-topleft: 15px;

	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;

        border: dashed 0px;
	width: 400px;
	height: 200px;
        float: left;
        margin: 20px 0px 0px 20px;
        border-color:  #228b22;
}

/*informacion del grupo cuadro*/
#info_grupo{
    -webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	-webkit-border-top-left-radius: 15px;

	-khtml-border-radius-bottomright: 15px;
	-khtml-border-radius-bottomleft: 15px;
	-khtml-border-radius-topright: 15px;
	-khtml-border-radius-topleft: 15px;

	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-topleft: 15px;

	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;

        border: dashed 0px;
	width: 460px;
	height: 200px;
        float: left;
        margin: 20px 0px 0px 0px;
        border-color:  #228b22;
}
/*datos como se muestran en el cuadro del mini perfil*/
#datos{
    margin-top: 25px;
    margin-left: 20px;
    font-family: verdana,sans-serif;
font-size: 12px;
letter-spacing: 0.6pt;
word-spacing: 4.2pt;
line-height: 1.6;

}

#datos1{
      margin-top:22px;
    margin-left: 0px;
    font-family: verdana,sans-serif;
font-size: 13px;
text-align: center;
letter-spacing: 0.6pt;
word-spacing: 4.2pt;
line-height: 1.8;
}


#fmuestra{
   margin-top:13px;
   margin-left: 10px;
   width: 122px;
   height: 150px;
   border: 1px dashed;
}
/*foto fmuestra perfil*/
#fmuestra_perfil{
   margin-top: 15px;
   margin-left: 25px;
       width:173px;
    height: 172px;
    border: 1px dashed;
}

/*terxto de la descripcion del grupo*/
#texto_grupo{
   margin-top: 28px;
   margin-left: 25px;
   font-family: verdana,sans-serif;
font-size: 12px;
text-align: justify;
letter-spacing: 0.6pt;
word-spacing: 4.2pt;
line-height: 2.3;


}


/*cuadro de fonode la imagen del menu perfil*/
#cuadro_image{
       -webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	-webkit-border-top-left-radius: 15px;

	-khtml-border-radius-bottomright: 15px;
	-khtml-border-radius-bottomleft: 15px;
	-khtml-border-radius-topright: 15px;
	-khtml-border-radius-topleft: 15px;

	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-topleft: 15px;

	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;

        float:left;
        background-color:  #E6E6E6;
        width: 140px;
        height: 175px;
        margin-top: 10px;
        margin-left: 10px;
}

/***************imagen perfil****************/
#cuadro_image_perfil{
       -webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	-webkit-border-top-left-radius: 15px;

	-khtml-border-radius-bottomright: 15px;
	-khtml-border-radius-bottomleft: 15px;
	-khtml-border-radius-topright: 15px;
	-khtml-border-radius-topleft: 15px;

	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-topleft: 15px;

	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;

        float:left;
        background-color:  #E6E6E6;
        width: 220px;
        height: 200px;
        margin-top: 10px;
        margin-left: 10px;
}



/*cuadro de datos del Grupo esta pagina Grupo_*/
/*cuadro de fonode la imagen del menu perfil*/
#cuadro_image{
       -webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	-webkit-border-top-left-radius: 15px;

	-khtml-border-radius-bottomright: 15px;
	-khtml-border-radius-bottomleft: 15px;
	-khtml-border-radius-topright: 15px;
	-khtml-border-radius-topleft: 15px;

	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-topleft: 15px;

	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;

        float:left;
        background-color:  #E6E6E6;
        width: 140px;
        height: 175px;
        margin-top: 10px;
        margin-left: 10px;
}

/************************************************************/
/*cuadro fondo datos del menu perfil*/
#cuadro_datos{
       -webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	-webkit-border-top-left-radius: 15px;

	-khtml-border-radius-bottomright: 15px;
	-khtml-border-radius-bottomleft: 15px;
	-khtml-border-radius-topright: 15px;
	-khtml-border-radius-topleft: 15px;

	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-topleft: 15px;

	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;

        float: left;
        background-color: #D8D8D8;
        width: 230px;
        height: 175px;
        margin-top: 10px;
        margin-left: 5px;
}

/*************************cuadro de datos perfil*******************/
#cuadro_datos_perfil{
       -webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	-webkit-border-top-left-radius: 15px;

	-khtml-border-radius-bottomright: 15px;
	-khtml-border-radius-bottomleft: 15px;
	-khtml-border-radius-topright: 15px;
	-khtml-border-radius-topleft: 15px;

	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-topleft: 15px;

	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;

        float: left;
        background-color: #D8D8D8;
        width: 390px;
        height: 200px;
        margin-top: 10px;
        margin-left: 5px;
}

/*cuadro de mensajes de perfil estados*/
#estados_perfil{
       -webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	-webkit-border-top-left-radius: 15px;

	-khtml-border-radius-bottomright: 15px;
	-khtml-border-radius-bottomleft: 15px;
	-khtml-border-radius-topright: 15px;
	-khtml-border-radius-topleft: 15px;

	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-topleft: 15px;

	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;

        float: left;
        background-color: #D8D8D8;
        width: 615px;
        height: 270px;
        margin-top: 15px;
        margin-left: 140px;
}

#aviso{
    margin-top:100px;
    margin-left: 150px;
    font-family: verdana,sans-serif;
color: #999999;
font-size: 18px;
font-weight: bold;
text-transform: uppercase;
letter-spacing: 0.6pt;
word-spacing: 4.6pt;
line-height: 0.6;

}

/*cuadro de datos del grupo pagina GRUPO*/
#datos_grupo{
       -webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	-webkit-border-top-left-radius: 15px;

	-khtml-border-radius-bottomright: 15px;
	-khtml-border-radius-bottomleft: 15px;
	-khtml-border-radius-topright: 15px;
	-khtml-border-radius-topleft: 15px;

	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-topleft: 15px;

	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;

        float:left;
        background-color:  #E6E6E6;
        width: 450px;
        height:370px;
        margin-top: 10px;
        margin-left: 0px;
}
/*menu adminstrador*/
/************************************************************/
#menuAdm{
     -webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	-webkit-border-top-left-radius: 15px;

	-khtml-border-radius-bottomright: 15px;
	-khtml-border-radius-bottomleft: 15px;
	-khtml-border-radius-topright: 15px;
	-khtml-border-radius-topleft: 15px;

	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-topleft: 15px;

	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;

        border: dashed 1px;
	width: 850px;
	height: 155px;
        float: left;
        margin: 30px 20px 0px 30px;
        border-color:  #228b22;
}
/*Grupos a los que pertenece el Administrador*/
#GrupoMat{
     -webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	-webkit-border-top-left-radius: 15px;

	-khtml-border-radius-bottomright: 15px;
	-khtml-border-radius-bottomleft: 15px;
	-khtml-border-radius-topright: 15px;
	-khtml-border-radius-topleft: 15px;

	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-topleft: 15px;

	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;

        border: dashed 1px;
	width: 380px;
	height: 180px;
        float: left;
        margin: 30px 10px 0px 30px;
        border-color:  #228b22;
}
/*GRUPO mat USUARIOS*/
#GrupoMat_est{
     -webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	-webkit-border-top-left-radius: 15px;

	-khtml-border-radius-bottomright: 15px;
	-khtml-border-radius-bottomleft: 15px;
	-khtml-border-radius-topright: 15px;
	-khtml-border-radius-topleft: 15px;

	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-topleft: 15px;

	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;

        border: dashed 1px;
	width: 380px;
	height: 180px;
        float: left;
        margin: 30px 10px 0px 260px;
        border-color:  #228b22;
}

/*baner de Grupos ProfMenu*/
#ban_ima{
       
	-webkit-border-top-right-radius: 15px;
	-webkit-border-top-left-radius: 15px;
	-khtml-border-radius-topright: 15px;
	-khtml-border-radius-topleft: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-topleft: 15px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	width: 380px;
	height: 40px;
        float: left;
        margin-bottom: 10px;
        background-color: #79C86D;
}

h1.grupo_text{
   font-family: "trebuchet MS",sans-serif;
    color: #0A3810;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2pt;
    word-spacing: -0.6pt;
    line-height: 2.3;
}
/*baner de Publicaciones ProfMenu*/
#ban_pub{

	-webkit-border-top-right-radius: 15px;
	-webkit-border-top-left-radius: 15px;
	-khtml-border-radius-topright: 15px;
	-khtml-border-radius-topleft: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-topleft: 15px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	width: 375px;
	height: 40px;
        float: left;
        margin-bottom: 10px;
        background-color: #79C86D;
}

#ban_pub_info{

	-webkit-border-top-right-radius: 15px;
	-webkit-border-top-left-radius: 15px;
	-khtml-border-radius-topright: 15px;
	-khtml-border-radius-topleft: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-topleft: 15px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	width: 450px;
	height: 40px;
        float: left;
        margin-bottom: 10px;
        background-color: #D8D8D8;
}



/*publicaciones profesor*/
#ban_pub2{

	-webkit-border-top-right-radius: 15px;
	-webkit-border-top-left-radius: 15px;
	-khtml-border-radius-topright: 15px;
	-khtml-border-radius-topleft: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-topleft: 15px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	width: 440px;
	height: 40px;
        float: left;
        margin-bottom: 10px;
        background-color: #79C86D;
}

h1.grupo{
    font-family: "trebuchet MS",sans-serif;
    color: #0A3810;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2pt;
    word-spacing: -0.6pt;
    line-height: 2.3;

}

/*grupo*/
h2.grupo{
    font-family: "trebuchet MS",sans-serif;
    color: #0A3810;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2pt;
    word-spacing: -0.6pt;
    line-height: 2.3;

}

/*posibles estudiante aleatorios*/
#estus{
     -webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	-webkit-border-top-left-radius: 15px;

	-khtml-border-radius-bottomright: 15px;
	-khtml-border-radius-bottomleft: 15px;
	-khtml-border-radius-topright: 15px;
	-khtml-border-radius-topleft: 15px;

	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-topleft: 15px;

	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
    float: left;
    background-color:  #D8D8D8;
    width: 418px;
    height: 110px;
    margin: -52px 0 0 15px;
    
}


/*mini menu lista plan evaluacion grupos*/
#planlistOL{
     float: left;
     margin-top:5px;
     margin-left: 5px;
     list-style:  none;
}

#planlistLI{

    list-style-type: none;
    float: left;
    margin-left: 70px;
    margin-top: 10px;
    height: 150px;
    padding-left: 5px;

}

/**/
/*menu ADM*/
#menuOL5{
     float: left;
     margin-top: 10px;
     margin-left: 33px;
     list-style:  none;
}

#menuLI5{

    list-style-type: none;
    float: left;
    margin-left: 120px;
    margin-top: 10px;
    height: 150px;
    padding-left: 7px;

}

#notiOL{
     float: left;
     margin-top: 55px;
     margin-left: 40px;
     list-style:  none;
}
#notiLI{
    list-style-type: none;
    float: left;
    margin-left: 55px;
    margin-top: 10px;
    height: 110px;
    padding-left: 7px;
}


#festOL{
     float: left;
     margin-top: 14px;
     margin-left: 15px;
     list-style:  none;
}

#festLI{
   list-style-type: none;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    height: 110px;
    padding-left: 7px;
}
/*menu 5 estudiante*/
/*menu ADM*/
#menuOL{
     float: left;
     margin-top: 10px;
     margin-left: 25px;
     list-style:  none;
}

#menuLI{

    list-style-type: none;
    float: left;
    margin-left: 200px;
    margin-top: 10px;
    height: 150px;
    padding-left: 7px;

}

/*menu PLAn de evaluacion*/
#menuOLplan{
     float: left;
     margin-top: 5px;
     margin-left: 20px;
     list-style:  none;
}

/*lis ta menu footer */
ol{
     float: left;
     margin-top: 30px;
     margin-left: 35px;
     list-style:  none;
}


li{
    list-style-type: none;
    float: left;
    margin-left: 130px;
    margin-top: 10px;
}

/*lista menu Administrador*/
#lisOL{
     float: left;
     margin-top: 10px;
     margin-left: 10px;
     list-style:  none;

}
#lisLI{
    list-style-type: none;
    float: left;
    margin-left: 70px;
    margin-top: 5px;
    height: 150px;
    padding-left: 10px;
}

/*linea*/
#linea{
    width: 820px;
    border: 1px dashed;
     border-color:  #228b22;
     margin-bottom: 5px;
}
/*ver noticia imagen div Administrador*/
#vernoticia{
    float: left;
    width: 200px;
    height: 100px;
    margin-top: 70px;
    margin-left: 180px;

}
/*noticias*/
#vernoticia1{
    float: left;
    width: 200px;
    height: 100px;
    margin-top: 70px;
    margin-left: 120px;

}
#vernoticia2{
    float: left;
    width: 200px;
    height: 100px;
    margin-top: 67px;
    margin-left: 0px;

}

/*PErfil cerrar sesion, perfil, editar */
.link_perfil{
    color: white;
    margin-left: 10px;
    text-decoration:  none;
}
.link_perfil:active, .link_perfil:hover{
    text-decoration: none;
    color: yellow;
}
/*editar*/
.link_editar{
    color: white;
    margin-left: 20px;
    text-decoration:  none;
}
.link_editar:active, .link_editar:hover{
    text-decoration: none;
    color: yellow;
}
/*cerrar*/
.link_cerrar{
    color: white;
    margin-left: 20px;
    text-decoration:  none;
}
.link_cerrar:active, .link_cerrar:hover{
    text-decoration: none;
    color: yellow;
}
/*Gestion de Usuyario administrador menu */
#menugest{
     float: left;
     margin-left: 0px;

}
/*iframe administrador*/
#iframe{
    margin-top: 5px;
    margin-right: 100px;
    margin-bottom: 100px;
    height: auto;
}
/*iframe del grupo*/

#iframe_grupo{
    float: left;
    margin-top: 35px;
    margin-right: 100px;
    margin-bottom: 70px;
    height: auto;
}

/*info_grup*/
#info_grup{
    float: left;
    margin-left: 120px;
}

#iframe2{
    margin-top: 15px;
    margin-right: 100px;
    margin-bottom: 100px;
    height: auto;
    margin-left: 10px;
}

#contenframe{
    float: left;
    margin-left: 100px;
}

#framenoti2{
     float: left;
    margin-left: 125px;
    margin-top: 10px;
    min-height: 490px;
    height: auto;
}


/*contenedor adm*/
#conteAdm{
	border: dotted 1px;
	width: 900px;
        margin-left: 180px;
        margin-right: 160px;
        min-height: 665px;
        height: auto;

}
/*Registr Profesores Administrativo////////*/
#form_reg_prof{
     background-color:  #006c01;
    position: absolute;
    width:700px;
    height: 740px;
    top: 30px;
    margin-bottom: 50px;
    left: 110px;
}

/*registros de Materias*/
#form_reg_mat{
    background-color:  #006c01;
    position: absolute;
    width:700px;
    height: 420px;
    top: 30px;
    margin-bottom: 50px;
    left: 110px;
}


#form_estado{

    width:700px;
    height: 2px;
    margin-top:  20px;
    margin-bottom: 0px;
    left: 110px;
}

/*formulario de CRear Publicaciones*/
#form_crea_libro{
    background-color:  #006c01;
  
    width:700px;
    height: 510px;
    margin-top: 30px;
    margin-bottom: 100px;
    margin-left:  110px;
}

/*listado*/
/*registros de Materias*/
#form_reg_mat{
    background-color:  #006c01;
    position: absolute;
    width:700px;
    height: 420px;
    top: 30px;
    margin-bottom: 50px;
    left: 110px;
}
/*contenedor del formulario crear grupo*/
#form_reg_grupo{
    background-color:  #006c01;
    position: absolute;
    width:700px;
    height: 400px;
    top: 30px;
    margin-bottom: 50px;
    left: 110px;
}

/*registro de los grupos por materias el fondo*/


/*formulario de busquedad PRofesor Administrativo ADMINSITRADOR*/
#form_busq{
    
    width:700px;
    min-height: 155px;
    height: auto;
    margin-left: 110px;
    margin-top: 12px;
}

/*buscar usuarios*/
#form_busq2{

    width:700px;
    min-height: 155px;
    height: auto;
    margin-left: 5px;
    margin-top: 12px;
}

/*burcar mis grupos*/
#form_bgrupos{

    width:300px;
    min-height: 155px;
    height: auto;
    margin-left: 245px;
    margin-top: 12px;
}

#form_listar_grupos{
  
    width:350px;
    min-height: 200px;
    height:auto;
    margin-top:  30px;
    margin-bottom: 0px;
    margin-left: 200px;
}
/*tabla de buscar usuarios en Administrador para borrar o modificar*/
#tabla1{
    margin-top: 0px;

}
#tabla_grupo{
    margin-top: 0px;

}
/*Resultados de la busqueda*/
#busq{

    width:780px;
    height: auto;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
}
#busq_matprof{
     width:780px;
    height: auto;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 65px;
}
#busq_g{

    width:840px;
    height: auto;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
}

/*Resultados de la busqueda de la lista de grupos*/
#busq_grupos{
    width:840px;
    height: auto;
    margin-top: -70px;
    margin-bottom: 0px;
    margin-left: 0px;
}
/*/////////////////////////////////ESTILO DE TABLA FORMA ITUNES////////////////////////////////////////*/
/* ---- -------------------------- ------------ ---- ------- -- --- - - - - -- -   - - --*-------- ---- */
table {
	font: 80% Verdana, Arial, Helvetica, sans-serif;
	color: #000;
	text-align: left;
	border-collapse: collapse;
	border: 1px solid #666666;
	border-top: none;
}
table a {
	text-decoration: underline;
        color:#484848;
}
table a:visited, table a:active {
	text-decoration: underline;
        color: #484848;
}
tr.odd {
	background-color: #ebf3ff;
}
tr a {
	color: #000000;
}
tr:hover a {
	color: blue;
}
tr:hover, tr.odd:hover {
	background-color: #bce9bf;
	color:#484848;
}

th ids{
   color:#484848;
}

thead th {
	font-size: 110%;
	color: #000;
	background: #ffffff url(../images/tbar.gif) repeat-x;
	height: 35px;
}
thead th:hover {
	background: #ffffff url(../images/tbov.gif) repeat-x;

}
tr {
	vertical-align: top;
}
tr,th,td {
	padding: .75em;
         color:#484848;
}
td {
	border-left: 1px solid #dadada;
}
tfoot tr {
	background: #fff url(bbar.gif) repeat-x;
}
tfoot td, tfoot th{
	color: #000;
	border: 0px;
}
/*/////////////////////////////////////////////////////////FIN DEL DISEÑO CSS PARA LA TABLAS/////////////////////////*/

/*texto del cuadro de fotos*/
#estush2{
font-family: "trebuchet MS",sans-serif;
font-size: 12px;
text-align: center;
letter-spacing: 1.4pt;
word-spacing: 3pt;

margin-bottom: -18px;

}

/**************************tabla mostrar gente del grupo************************/
table.original {
	font: 80% Verdana, Arial, Helvetica, sans-serif;
	color: #000;
        margin-top: 21px;
	text-align: left;
	border-collapse: collapse;
	border: 0px;
	border-top: none;
}

tr.original:hover, tr.original:hover {
	 background-color:  transparent;
}

table.original:visited, table.original:active {
         color:  white;
}

td.original {
	border-left: 0px solid #dadada;
}
/*******************************************************************/
/*fieldset resultado de busqueda*/
fieldset.buscar{
	border:1px dashed #CCCCCC;
	margin-bottom:10px;
	margin-top:2px;
        margin-right: 20px;
        margin-left: 70px;
	padding:15px;
}

fieldset.buscar_grupos{
	border:1px dashed #CCCCCC;
	margin-bottom:0px;
	margin-top:0px;
        margin-right: 20px;
        margin-left: 80px;
	padding:15px;
}
/*buscar materia*/
fieldset.buscarmat{
	border:1px dashed #CCCCCC;
	margin-bottom:10px;
	margin-top:2px;
        margin-right: 20px;
        margin-left: 110px;
	padding:15px;
}

/*buscaer grupo para unir*/
/*buscar materia*/
fieldset.buscargrup{
	border:1px dashed #CCCCCC;
	margin-bottom:10px;
	margin-top:2px;
        margin-right: 20px;
        margin-left: 110px;
	padding:15px;
}

/*resultado de agregar materia con profesior*/
fieldset.buscarmatprof{
	border:1px dashed #CCCCCC;
	margin-bottom:10px;
	margin-top:2px;
        margin-right: 20px;
        margin-left: 40px;
	padding:15px;
}

/*fieldset formulario busqueda*/
fieldset.form_buscar{
	border:1px dashed #CCCCCC;
	margin-bottom:0px;
	margin-top:5px;
        margin-right: 20px;
        margin-left: 30px;
	padding:10px;
        width: 618px;
}

fieldset.form_buscar_grupos{
	border:1px dashed #CCCCCC;
	margin-bottom:0px;
	margin-top:20px;
        margin-right: 20px;
        margin-left: 30px;
	padding:15px;
        width: 400px;
}
/*fielset noticias*/
fieldset.fnoticia{
	border:1px dashed #CCCCCC;
	margin-bottom:0px;
	margin-top:10px;
        margin-right: 10px;
        margin-left: 10px;
	padding:15px;
        width: 510px;
}


/*botonera de buscar usuarios ADM*/
/*botones*/
input.todos{
                        -moz-background-clip:border;
			-moz-background-inline-policy:continuous;
			-moz-background-origin:padding;
			-moz-border-radius-bottomleft:11px;
			-moz-border-radius-bottomright:11px;
			-moz-border-radius-topleft:11px;
			-moz-border-radius-topright:11px;
			-moz-box-shadow:0 1px 5px rgba(0, 0, 0, 0.15);
                        background-image: url(../images/icons/table.png);
                         background-position:6px 8px;
                         background-repeat:  no-repeat;

			border-color:#DEDEDE #BBBBBB #BFBFBF #DEDEDE;
			border-style:solid;
			border-width:1px;
			color:#464646;
			cursor:pointer;
			display:block;
			font-family:"Lucida Grande",Tahoma,Arial,sans-serif;
			font-size:100%;
			line-height:130%;
			margin-left: 0px;
			padding:5px 15px 6px 28px;
			text-decoration:none;
}

input.entrar{
			-moz-background-clip:border;
			-moz-background-inline-policy:continuous;
			-moz-background-origin:padding;
			-moz-border-radius-bottomleft:11px;
			-moz-border-radius-bottomright:11px;
			-moz-border-radius-topleft:11px;
			-moz-border-radius-topright:11px;
			-moz-box-shadow:0 1px 5px rgba(0, 0, 0, 0.15);
                        background-image: url(../images/icons/accept.png);
                         background-position:6px 8px;
                         background-repeat:  no-repeat;

			border-color:#DEDEDE #BBBBBB #BFBFBF #DEDEDE;
			border-style:solid;
			border-width:1px;
			color:#464646;
			cursor:pointer;
			display:block;
			font-family:"Lucida Grande",Tahoma,Arial,sans-serif;
			font-size:100%;
			line-height:130%;
			margin-left: 0px;
			padding:5px 15px 6px 28px;
			text-decoration:none;

}
input.reset{
                         -moz-background-clip:border;
			-moz-background-inline-policy:continuous;
			-moz-background-origin:padding;
			-moz-border-radius-bottomleft:11px;
			-moz-border-radius-bottomright:11px;
			-moz-border-radius-topleft:11px;
			-moz-border-radius-topright:11px;
			-moz-box-shadow:0 1px 5px rgba(0, 0, 0, 0.15);
                        background-image: url(../images/icons/cancel.png);
                         background-position:6px 8px;
                         background-repeat:  no-repeat;
			border-color:#DEDEDE #BBBBBB #BFBFBF #DEDEDE;
			border-style:solid;
			border-width:1px;
			color:#464646;
			cursor:pointer;
			display:block;
			font-family:"Lucida Grande",Tahoma,Arial,sans-serif;
			font-size:100%;
			line-height:130%;
			margin-left: 0px;
			padding:5px 15px 6px 28px;
			text-decoration:none;
}



input.entrar:hover, input.reset:hover, input.todos:hover{
    border:1px solid #7CB043;
color:#63A142;
}
/*botones inicio de sesion y otros*/
#ent{
       margin-top: 5px;
       float: right;
       margin-right: 140px;
}
#lim{
       margin-top: 5px;
       float: left;
       margin-left: 150px;
}
/*margen del boton limpiar noticia formulario*/
#limnoti{
       margin-top: 10px;
       float: left;
       margin-left: 30px;
}
/*margen del boton registrar noticia formulario*/
#entnoti{
       margin-top: 10px;
       float: left;
       margin-left: 120px;
       
}
#todos{
       margin-top: 5px;
       float: left;
       margin-left: 150px;
}
/*division de la botonera Adm*/
#botoneraBuscar{
    width: 500px;
    float: left;
    margin-left: 62px;

}

/*buscar grupoas*/
#botoneraBuscargrupos{
    width: 300px;
    float: left;
    margin-left: 62px;

}

#botoneralistar{
    width: 300px;
    float: left;
    margin-left: 20px;

}

/*botonera boton limpiar entrar inicio de sesion*/
#botonera{
    background-color:#E6E6E6;
    float:right;
    height:80px;
    margin-top:3px;
    margin-right: 20px;
    padding-bottom:5px;
    padding-left:5px;
    padding-top:10px;
    width:323px;
}

#botonera2{
    background-color:#E6E6E6;
    float:right;
    height:50px;
    margin-top:3px;
    margin-right: 50px;
    padding-bottom:5px;
    padding-left:5px;
    padding-top:10px;
    width:501px;
}

#botonera3{
    background-color:#E6E6E6;
    float:right;
    height:50px;
    margin-top:3px;
    margin-right: 50px;
    padding-bottom:5px;
    padding-left:5px;
    padding-top:10px;
    width:501px;
}

/*botonera noticia*/
#botoneranoti{
    background-color:#E6E6E6;
    float:right;
    height:45px;
    margin-top:5px;
    margin-right: 0px;
    padding-bottom:5px;
    padding-left:5px;
    padding-top:10px;
    width:500px;
}

/*boton guardar de editar perfil*/
#guar{
       margin-top: 5px;
       float: left;
       margin-left: 200px;
       margin-top: 5px;
}
#ent2{
       margin-top: 5px;
       float: right;
       margin-right: 20px;
}

#entbus{
       margin-top: 5px;
       float: right;
       margin-right: 270px;
}

#lim2{
       margin-top: 5px;
       float: left;
       margin-left: 35px;
}

#ent3{
       margin-top: 5px;
       float: right;
       margin-right: 100px;
}
/*boton actualizar estado*/
#entGrupo{
       margin-top: 5px;
       float: left;
        margin-left:  250px;
}

#lim3{
       margin-top: 5px;
       float: left;
       margin-left: 100px;
}

#todos2{
       margin-top: 5px;
       float: left;
       margin-left: 50px;
}

#todoscenter{
      margin-top: 5px;
       float: left;
       margin-left: 100px;
}
/*botonera ADM buscar////////////////////*/
/*buscar contenedor*/
/*borrado*/
#borrado{
    float: left;
    margin-top: 0px;
    margin-left: 400px;
    font-family: serif;
    font-style:  normal;
    font-size: 18px;
}
/*/////////////*/
h2.tit{
    margin-top: 80px;
  margin-left: 360px;
}
/*union al grupo*/
h2.titgrupo{
    margin-top: 80px;
  margin-left: 180px;
}

/*titulo de boorar*/
h2.tit2{
    margin-top: 80px;
  margin-left: 300px;
}

h2.tit3{
    margin-top: 80px;
  margin-left: 290px;
}

h2.titulo2{
    margin-top: 80px;
  margin-left: 260px;
}

/*formulario de edit perfil///////////////*/
#form_edit_per{
    background-color:  #006c01;
    position: absolute;
    width:700px;
    height: 810px;
    top: 140px;
    margin-bottom: 50px;
    left: 280px;
    margin-top: 13px;
}

/*texbos de formularios*/
/*textbox*/
#textbox{
    background-color:#E6E6E6;
    float:right;
    height:30px;
    margin-top:1px;
    margin-right: 50px;
    padding-left:15px;
    padding-bottom: 5px;
    padding-top:10px;
    width:260px;
}
#textboxnoti{
    background-color:#E6E6E6;
    float: left;
    height:30px;
    margin-top:1px;
    margin-right: 0px;
    padding-left:15px;
    padding-bottom: 5px;
    padding-top:10px;
    width:260px;
}
/*text area cuadro*/
#textarea{
    background-color:#E6E6E6;
    float:right;
    height:80px;
    margin-top:1px;
    margin-right: 50px;
    padding-left:15px;
    padding-bottom: 5px;
    padding-top:10px;
    width:260px;

}

#textEstado{
     background-color:#E6E6E6;
    float: left;
    height:80px;
    margin-top:1px;
    margin-left: 50px;
    padding-left:15px;
    padding-bottom: 5px;
    padding-top:10px;
    width:500px;
}

#titleestado{
      background-color:#E6E6E6;
      font-family: verdana,sans-serif;
font-size: 12px;
text-align: center;
letter-spacing: 1.4pt;
word-spacing: 1.4pt;
line-height: 2.1;
width:515px;
  margin-left: 50px;

}

div.num{
    
      font-family: verdana,sans-serif;
font-size: 12px;
color: #A3A2A2;
float: left;
font-size: 20px;
font-weight: bold;
text-align: left;
letter-spacing: 1.4pt;
word-spacing: 1.4pt;
line-height: 2.2;
width:515px;
padding-left:490px;
margin-left: 20px;
height: 10px;
  width: 80px;
}

/*text area cuadro noticia*/
#textarea2{
    background-color:#E6E6E6;
    float: left;
    height:95px;
    margin-top:1px;
    margin-right: 0px;
    padding-left:15px;
    padding-bottom: 5px;
    padding-top:10px;
    width:260px;

}
/*label del text area */
#textarealabel{
        background-color:#CCCCCC;
        color:#666666;
        display:block;
        float:left;
        font-family:Arial,Helvetica,sans-serif;
        font-size:85%;
        font-weight:normal;
        height:54px;
        letter-spacing:0px;
        line-height:1.1;
        margin-right:0px;
        margin-left: 62px;
        margin-top:1px;
        padding-left:10px;
        padding-right: 1px;
        padding-top:40px;
        padding-bottom: 1px;
        width:220px;
}

#textarealabel2{
        background-color:#CCCCCC;
        color:#666666;
        display:block;
        float:left;
        font-family:Arial,Helvetica,sans-serif;
        font-size:85%;
        font-weight:normal;
        height:69px;
        letter-spacing:0px;
        line-height:1.1;
        margin-right:0px;
        margin-left: 0px;
        margin-top:1px;
        padding-left:10px;
        padding-right: 1px;
        padding-top:40px;
        padding-bottom: 1px;
        width:220px;
}
/*estilo de los text area encima presiona y eso*/
textarea.cuadro{
		-x-system-font:none;
		background-color: #f7fcf7;
		background-position:left center;
		background-repeat:no-repeat;
		color:  #7e7e7e;
		font-family:Arial;
		font-size:14px;
		font-style:normal;
		font-variant:normal;
		font-weight:normal;
		line-height:normal;
		padding:5px 10px 5px 10px;
		width:210px;
		border: solid 1px;

}

/*text area del actualizar estado*/
textarea.estado{
		-x-system-font:none;
		background-color: #f7fcf7;
		background-position:left center;
		background-repeat:no-repeat;
		color:  #7e7e7e;
		font-family:Arial;
		font-size:14px;
		font-style:normal;
		font-variant:normal;
		font-weight:normal;
		line-height:normal;
		padding:5px 10px 5px 10px;
		width:480px;
		border: solid 1px;

}




/*estilo del text area cuadro noticia */
textarea.cuadro2{
		-x-system-font:none;
		background-color: #f7fcf7;
		background-position:left center;
		background-repeat:no-repeat;
		color:  #7e7e7e;
		font-family:Arial;
		font-size:14px;
		font-style:normal;
		font-variant:normal;
		font-weight:normal;
		line-height:normal;
		padding:5px 10px 5px 10px;
		width:210px;
		border: solid 1px;

}

textarea.cuadro:focus, textarea.cuadro:hover{
    background-color:#daf5dd;
}

textarea.cuadro2:focus, textarea.cuadro2:hover{
    background-color:#daf5dd;
}
/*div de buscar materias por carrera*/
#cpu{
    float: left;
    width: 150px;
    height: 22px;
    padding-left: 4px;
    padding-top: 5px;
    margin-left: 0px;
    margin-top: 2px;
    background-color: #BDBDBD;
    color:#666666;
    font-family:Arial,Helvetica,sans-serif;
    font-size:90%;
    font-weight:normal;
}
#sis{
     float: left;
    margin-left: 4px;
    width: 115px;
    height: 22px;
    padding-top: 5px;
    padding-left: 5px;
    margin-top: 2px;
    background-color: #BDBDBD;
    color:#666666;
    font-family:Arial,Helvetica,sans-serif;
    font-size:90%;
    font-weight:normal;
}
/*******************************************/
#textbox3{
     background-color:#E6E6E6;
    float:right;
    height:35px;
    margin-top:1px;
    margin-right: 25px;
    padding-bottom:3px;
    padding-left:10px;
    padding-top:7px;
    width:290px;
}
/*checbox*/
input.checkbox{
    margin-top: 1px;
}
/*fomulario de respaldo*/
#form_respaldo{
     background-color:  #006c01;
    width:470px;
    height: 210px;
    margin-top: 15px;
    margin-left: 200px;
    margin-bottom: 0px;
    float: left;
    -webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	-webkit-border-top-left-radius: 15px;

	-khtml-border-radius-bottomright: 15px;
	-khtml-border-radius-bottomleft: 15px;
	-khtml-border-radius-topright: 15px;
	-khtml-border-radius-topleft: 15px;

	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-topleft: 15px;

	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}
/*menu resp*/
#menuResp{
   -webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	-webkit-border-top-left-radius: 15px;

	-khtml-border-radius-bottomright: 15px;
	-khtml-border-radius-bottomleft: 15px;
	-khtml-border-radius-topright: 15px;
	-khtml-border-radius-topleft: 15px;

	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-topleft: 15px;

	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;

        border: dashed 1px;
	width: 850px;
	height: 360px;
        float: left;
        margin: 10px 10px 0px 30px;
        border-color:  #228b22;
}

/*lb1*/
#lb1{
    background-color:#CCCCCC;
    color:#666666;
    float:left;
    font-family:Arial,Helvetica,sans-serif;
    font-size:115%;
    font-weight:normal;
    height:32px;
    letter-spacing:0px;
    line-height:1.1;
    margin-right:0px;
    margin-left: 8px;
    margin-top:3px;
    padding-left:3px;
    padding-right: 5px;
    padding-top:8px;
    width:150px;
}
#divisiones{
    background-color:#F2F2F2;
    color:#666666;
    float: left;
    font-family:Arial,Helvetica,sans-serif;
    font-size:115%;
    font-weight:normal;
    height:36px;
    letter-spacing:0px;
    line-height:1.1;
    margin-right:0px;
    margin-left: 0px;
    margin-top:3px;
    padding-left:5px;
    padding-right: 5px;
    padding-top:5px;
    width:200px;
}
#todas{
    float: left;
    margin-top: 7px;
    margin-left: 90px;
    border: 1px solid;
}
/*boton rspaldar*/
#respdiv{
    float: left;
    margin-top: 10px;
    margin-left: 125px;
}
/*/////////////textbox carrera/////////////*/
/**/
select.carrera{
                -x-system-font:none;
		background-color: #f7fcf7;
		background-position:left center;
		background-repeat:no-repeat;
		color:  #7e7e7e;
		font-family:Arial;
		font-size:14px;
		font-size-adjust:none;
		font-stretch:normal;
		font-style:normal;
		font-variant:normal;
		font-weight:normal;
		line-height:normal;
		padding:5px 10px 5px 10px;
		width:190px;
		border: solid 1px;
}
select.carrera:hover, .carrera:active{
    background-color: #daf5dd;
}

/*fomrulario restuarar*/
#form_restaurar{
    background-color:  #006c01;
    width:500px;
    height: 180px;
    margin-top: 25px;
    margin-left: 185px;
    margin-bottom: 15px;
    float: left;
    -webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	-webkit-border-top-left-radius: 15px;

	-khtml-border-radius-bottomright: 15px;
	-khtml-border-radius-bottomleft: 15px;
	-khtml-border-radius-topright: 15px;
	-khtml-border-radius-topleft: 15px;

	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-topleft: 15px;

	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}

/*division 2 para el buscar arachivo de restaura BD*/
#divisiones2{
    background-color:#F2F2F2;
    color:#666666;
    float: left;
    font-family:Arial,Helvetica,sans-serif;
    font-size:115%;
    font-weight:normal;
    height:36px;
    letter-spacing:0px;
    line-height:1.1;
    margin-right:0px;
    margin-left: 0px;
    margin-top:3px;
    padding-left:5px;
    padding-right: 5px;
    padding-top:5px;
    width:240px;
}
/*boton restarurar*/
#restdiv{
    float: left;
    margin-top: 10px;
    margin-left: 145px;
}

#menuOLmat{
     float: left;
     margin-top: 0px;
     margin-left: 10px;
     list-style:  none;
}
#lisOLmat{
     float: left;
     margin-top: 5px;
     margin-left: 90px;
     list-style:  none;

}

#menuProf{
     -webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	-webkit-border-top-left-radius: 15px;

	-khtml-border-radius-bottomright: 15px;
	-khtml-border-radius-bottomleft: 15px;
	-khtml-border-radius-topright: 15px;
	-khtml-border-radius-topleft: 15px;

	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-topleft: 15px;

	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;

        border: dashed 1px;
	width: 850px;
	height: 170px;
        float: left;
        margin: 10px 20px 0px 30px;
        border-color:  #228b22;
}

/*cuadro donde aparecen los libros publicados*/
#Publicaciones{
      -webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	-webkit-border-top-left-radius: 15px;

	-khtml-border-radius-bottomright: 15px;
	-khtml-border-radius-bottomleft: 15px;
	-khtml-border-radius-topright: 15px;
	-khtml-border-radius-topleft: 15px;

	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-topleft: 15px;

	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;

        border: dashed 1px;
	width: 440px;
	height: 180px;
        float: left;
        margin: 30px 10px 0px 15px;
        border-color:  #228b22;
}

/****Publicaciones de los grupos*******/
#Publicaciones_grupos{
     -webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	-webkit-border-top-left-radius: 15px;

	-khtml-border-radius-bottomright: 15px;
	-khtml-border-radius-bottomleft: 15px;
	-khtml-border-radius-topright: 15px;
	-khtml-border-radius-topleft: 15px;

	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-topleft: 15px;

	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;

        border: dashed 1px;
	width: 375px;
	height: 180px;
        float: left;
        margin: 0px 10px 0px 30px;
        border-color:  #228b22;
}


/*menu Pro0fesor OL*/
/*lista menu Administrador*/
#lisOLprof{
     float: left;
     margin-top: 12px;
     margin-left: 0px;
     list-style:  none;

}
#lisLIprof{
    list-style-type: none;
    float: left;
    margin-left: 45px;
    margin-top: 5px;
    height: 150px;
    padding-left: 5px;
}
/*fin en esta lista van las opciones*/

/* NOTICIARIO MUESTRA LAS NOTICIAS */

#noticia{
	  margin-top: 20px;
	  margin-left: 75px;
          padding: 0px;
	  background-color: #c1f5c2;
	  border: dotted 1px;
	  height: 400px;
	  width: 750px;
          overflow:  scroll;
          float: left;

}
/*banner de noticias */
#bannot{
     background-image: url(../images/bannernoticia.png);
      margin-top: 10px;
     height: 40px;
     width: 652px;
     float:left;
}
#banner{
     background-image: url(../images/bannernoticia.png);
      height: 40px;
      width: 650px;
}
#notice{
    float: left;
    margin-top: 50px;
}

/*menu personal administrativo*/
/*menu Pro0fesor OL*/
/*lista menu Administrador*/
#lisOLpadm{
     float: left;
     margin-top: 12px;
     margin-left: 25px;
     list-style:  none;

}
#lisLIpadm{
    list-style-type: none;
    float: left;
    margin-left: 80px;
    margin-top: 5px;
    height: 180px;
    padding-left: 0px;
}
/*formularo de noticias*/
#fnoticia{
    background-color:  #006c01;
    position: absolute;
    width:560px;
    height: 340px;
    top: 5px;
    margin-bottom: 50px;
    left: 5px;
}
/*modificar noticias*/
#fnoticia_mod{
     background-color:  #006c01;
    position: absolute;
    width:560px;
    height: 340px;
    margin-top: 70px;
    margin-bottom: 50px;
    margin-left: 70px;
}

/*formulario de consulta*/
#fmodificar{
    float: left;
    margin-top: 50px;
    margin-left: 50px;
}

/*mensaje de confirmacon de noticia*/
#mennoticia{
        border: dotted 1px;
	min-height: 350px;
	height: auto;
        width:570px;
	background-color:  #006c01;
	margin-left: 0px;
	margin-top: 0px;
        display: none;
}

#mensaje_not{
    float: left;
    margin-top: 80px;
    margin-left: 130px;
}
/*botones para la noticia*/
input.entrarnoti{
			-moz-background-clip:border;
			-moz-background-inline-policy:continuous;
			-moz-background-origin:padding;
			-moz-border-radius-bottomleft:11px;
			-moz-border-radius-bottomright:11px;
			-moz-border-radius-topleft:11px;
			-moz-border-radius-topright:11px;
			-moz-box-shadow:0 1px 5px rgba(0, 0, 0, 0.15);
                          background-image: url(../images/icons/accept.png);
                         background-position:6px 8px;
                         background-repeat:  no-repeat;
			border-color:#DEDEDE #BBBBBB #BFBFBF #DEDEDE;
			border-style:solid;
			border-width:1px;
			color:#464646;
			cursor:pointer;
			display:block;
			font-family:"Lucida Grande",Tahoma,Arial,sans-serif;
			font-size:100%;
			line-height:130%;
			margin-left: 0px;
			padding:5px 10px 6px 25px;
			text-decoration:none;
                        float: right;
                        margin-right: 60px;
                         width: 100px;


}
input.resetnoti{
                         -moz-background-clip:border;
			-moz-background-inline-policy:continuous;
			-moz-background-origin:padding;
			-moz-border-radius-bottomleft:11px;
			-moz-border-radius-bottomright:11px;
			-moz-border-radius-topleft:11px;
			-moz-border-radius-topright:11px;
			-moz-box-shadow:0 1px 5px rgba(0, 0, 0, 0.15);
                          background-image: url(../images/icons/cancel.png);
                         background-position:6px 8px;
                         background-repeat:  no-repeat;
			border-color:#DEDEDE #BBBBBB #BFBFBF #DEDEDE;
			border-style:solid;
			border-width:1px;
			color:#464646;
			cursor:pointer;
			display:block;
			font-family:"Lucida Grande",Tahoma,Arial,sans-serif;
			font-size:100%;
			line-height:130%;
			margin-left: 0px;
			padding:5px 5px 6px 25px;
			text-decoration:none;
                        float: left;
                        margin-left: 60px;
                        width: 100px;

}


input.entrarnoti:hover, input.resetnoti:hover{
    border:1px solid #7CB043;
color:#63A142;
}

input.entrarnoti:active, input.resetnoti:active{
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:#94B717 none repeat scroll 0 0;
    border:1px solid #94B717;
    color:#FFFFFF;
    text-shadow:1px 1px 1px #607710;
}

/*link regresar consulta noticia*/
#regreso{
    float: left;
    margin-top: 30px;
    margin-left: 225px;
    width: 100px;
}
/*borrado div*/
#borradonoti{
    float: left;
    margin-left: 260px;
    margin-top: 140px;
}

/*COMBO box dde carrera invisible aparece cuando clickea profesor form adm*/
#car_select{
    display: none;
}

/*noticia consulta textrear*/
#not_consultar{
    border: none;
}

/*donde va las publicaciones de los libros*/
#pub_grupo{
    float: left;
    margin-top: 5px;
    margin-left: 10px;
    width: 365px;
    height: 120px;
    overflow:  scroll;
}
/*contenido de publicaciones PRofesor*/
#pub_grupo2{
    float: left;
    margin-top: 5px;
    margin-left: 10px;
    width: 428px;
    height: 120px;
    overflow:  scroll;
}

/*donde salen los grupos*/
#pub_grupo_g{
     float: left;
    margin-top: 5px;
    margin-left: 10px;
    width: 367px;
    height: 120px;
    overflow:  scroll;
}