/* BEGIN BASIC FORUM STYLES */

#wrapper {
	width: 900px;
	margin: 0 auto; 			/* center the page */
}

#content {
	background-color: #fff;
	border: 1px solid #000;
	float: left;
	font-family: Arial;
	padding: 20px 30px;
	text-align: left;
	width: 100%;				/* fill up the entire div */
}

#menus {
float: left;
border: 1px solid #000;		/* avoid a double border */
clear: both;				/* clear:both makes sure the content div doesn't float next to this one but stays under it */
width:100%;
height:50px;
padding: 0 30px;
background-color: #FFF;
text-align: left;
font-size: 85%;
}

#menu a:hover {
	background-color: #009FC1;
}

#userbar {
	background-color: #fff;
	float: right;
	width: 250px;
       
}

#footer {
	clear: both;
}

/* begin table styles */
table {
	border-collapse: collapse;
	width: 100%;
}

table a {
	color: #000;
}

table a:hover {
	color:#373737;
	text-decoration: none;
}

th {
	background-color: #B40E1F;
	color: #F0F0F0;
}

td {
	padding: 8px;
}

/* Begin font styles */
h1, #footer {
	font-family: Arial;
	color: #F1F3F1;
}

h1.pub{
   
    color: black;
}

h3 {margin: 0; padding: 0;}

/* Menu styles */
.item {
	background-color: #00728B;
	border: 1px solid #032472;
	color: #FFF;
	font-family: Arial;
	padding: 3px;
	text-decoration: none;
}

.itemN {
	background-color: #00728B;
	border: 1px solid #032472;
	color: #FFF;
	font-family: Arial;
	padding: 0px;
        padding-left: 10px;
        width: 250px;
        float: left;
        margin-left: 50px;
	text-decoration: none;
}

.leftpart {
	width: 70%;
}

.rightpart {
	width: 30%;
}

.small {
	font-size: 75%;
	color: #373737;
}
#footer {
	font-size: 65%;
	padding: 3px 0 0 0;
}

.topic-post {
	height: 100px;
	
}

.post-content {
	padding: 0px;
}

textarea.post{
    width: 700px;
	height: 80px;
        margin-left: 30px;
        resize: vertical;
        border: 0px;
        font-family: arial,sans-serif;
        color: #002678;
        font-size: 16px;
        text-align: justify;
        word-spacing: 0.8pt;

}

textarea.post:hover{
    background-color:  white;
}

textarea.texto {
	width: 500px;
	height: 200px;
        font-family: arial,sans-serif;
        font-size: 16px;
        text-align: justify;
        word-spacing: 0.8pt;

}

textarea.texto:hover{
    background-color:  #E9FEF6;
}

#replys{
    float: left;
    margin-left: 150px;
}
#emailtexto{
    font-family: arial,sans-serif;
color: #E88700;
font-size: 16px;
font-weight: bold;
text-align: center;
word-spacing: 0.8pt;

}