/*/////////////////////////////////ESTILO DE TABLA FORMA ITUNES////////////////////////////////////////*/
/* ---- -------------------------- ------------ ---- ------- -- --- - - - - -- -   - - --*-------- ---- */
table {
	font: 80% Verdana, Arial, Helvetica, sans-serif;
	color: #000;
	text-align: left;
	border-collapse: collapse;
	border: 1px solid #666666;
	border-top: none;
}
table a {
	text-decoration: underline;
        color:#484848;
}
table a:visited, table a:active {
	text-decoration: underline;
        color: #484848;
}
tr.odd {
	background-color: #ebf3ff;
}
tr a {
	color: #000000;
}
tr:hover a {
	color: blue;
}
tr:hover, tr.odd:hover {
	background-color: #bce9bf;
	color:#484848;
}

th ids{
   color:#484848;
}

thead th {
	font-size: 110%;
	color: #000;
	background: #ffffff url(../images/tbar.gif) repeat-x;
	height: 35px;
}
thead th:hover {
	background: #ffffff url(../images/tbov.gif) repeat-x;

}
tr {
	vertical-align: top;
}
tr,th,td {
	padding: .75em;
         color:#484848;
}
td {
	border-left: 1px solid #dadada;
}
tfoot tr {
	background: #fff url(bbar.gif) repeat-x;
}
tfoot td, tfoot th{
	color: #000;
	border: 0px;
}
