#main {
    margin: auto;
	border: 1px solid #cccccc;
	background: #F1F3F5;
	width: 560px;
    padding:30px;
    padding-bottom:2px;
}

#container{
    float:none;
    clear:both;
    margin: 0px auto;
    margin-bottom:5px;
	width: 506px;
    border: 1px solid #ccc;
}

#header{
    background-color:#E9ECEF;
    height:25px;
    width:100%;
    border-bottom: 1px solid #ccc;
}

#name {
    float:left;
    width:144px;
    height:20px;
    padding-left:5px;
    padding-top:5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size : 14px;
    color:#C64934;
}

#info {
    width:340px;
    margin-left:150px;
    padding-left:5px;
    padding-top:2px;
    padding-bottom:4px;
    border-left: 1px solid #ccc;

}

#infoicons {
    float:left;
    width:100px;
}

#infodate{
    margin-left:100px;
    width:230px;
    text-align:right;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:normal;
    font-size : 12px;
    padding-top:5px;
}

#base{
    background-color:#fbfbfb;
    width:100%;
}


#icon1 {
    float:left;
    background-image:url(icon2.gif);
    background-repeat:no-repeat;
    background-position:center;
    width:144px;
    height:100px;
    padding-left:5px;
    padding-top:5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:normal;
    font-size : 10px;
}

#icon2 {
    float:left;
    background-image:url(icon1.gif);
    background-repeat:no-repeat;
    background-position:center;
    width:144px;
    height:100px;
    padding-left:5px;
    padding-top:5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:normal;
    font-size : 10px;
}

#text {
    width:300px;
    margin-left:150px;
    padding-left:0px;
    padding-top:5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:normal;
    font-size : 12px;
    border-left: 1px solid #ccc;
    min-height:99px;
   
   
}

* html #text {
    width:350px;
    margin-left:150px;
    padding-left:5px;
    padding-top:5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:normal;
    font-size : 12px;
    border-left: 1px solid #ccc;
    height: 100px;
}

a {
    float:left;
    border:0px;
    text-decoration:none;
}

img {
    border:0px;
    text-decoration:none;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    padding:10px;
    padding-left:50px;
    font-size : 14px;
    color:#C64934;

}

#formheader {
    float:clear;
    width:500px;
    margin:auto;
    border: 1px solid #ccc;
    padding:10px;
    background-color:#E9ECEF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size : 14px;
    text-align:center;
    color:#C64934;
}

#formbody {
    float:clear;
    width:500px;
    margin:auto;
    border: 1px solid #ccc;
    border-top:0px;
    padding-left:5px;
    padding-top:20px;
    padding-bottom:20px;
    background-color:#fdfdfd;

}

table {
    border: 1px solid #ccc;
    border-collapse:collapse;
    width:400px;
}
td {
    border: 1px solid #ccc;
    border-collapse:collapse;
    padding:5px;
}
th {
    width:150px;
    border: 1px solid #ccc;
    border-collapse:collapse;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size : 12px;
    text-align:left;
    padding:5px;
}

#source{
  text-align:right;
  align:right;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:normal;
  font-size : 10px;
  color:#CCCCCC;
}

textarea.textforo{
    border: none;
   background-color: #E9ECEF;
}